<!doctype html>
<html lang="ja">
  <head>
    <!-- prettier-ignore -->
    <%_
      const localmeta = {
        title: `GARI | SUSHIBOYS`,
        description: `軽自動車 なんでもできる ダンボルギーニ`,
        url: `https://sushiboys350.com/discography/record/gari.html`,
        pageid: `discography`,
        type: `record`,
        index: 0,
        path: `../../`
      };
      const localogp = {
        title: localmeta.title,
        description: localmeta.description,
        url: localmeta.url
      };
      const localfile = {
        css: `/css/discography-detail.css`,
        js: `/js/discographyDetail.js`
      };
    _%>
    <%- include(localmeta.path + `_inc/_head`, {meta: localmeta, ogp: localogp, file: localfile}); _%>
    <%- include(localmeta.path + `_data/_discography`); _%>
    <%_ discographyData = discography(); _%>
  </head>
  <body>
    <%- include(localmeta.path + `_inc/components/_googletagmanager`); _%>

    <div class="wrapper">
      <!-- prettier-ignore -->
      <%- include(localmeta.path + `_inc/components/_global-navigation`, {meta: localmeta}); _%>

      <main class="main">
        <!-- prettier-ignore -->
        <%- include(localmeta.path + `_inc/components/_header`, {meta: localmeta}); _%>

        <div>
          <!-- prettier-ignore -->
          <%- include(localmeta.path + `_inc/components/_hero`, {meta: localmeta}); _%>

          <div class="content">
            <!-- prettier-ignore -->
            <%- include(localmeta.path + `_inc/components/discography/detail/_article`, {meta: localmeta, discographyData: discographyData}); _%>
          </div>
        </div>

        <!-- prettier-ignore -->
        <%- include(localmeta.path + `_inc/components/_toggle`); _%>

        <%- include(localmeta.path + `_inc/components/_footer`); _%>
      </main>
    </div>
  </body>
</html>
