<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_discography'); %>
  <%
  const pageid = 'discography';
  const localmeta = {
    title: 'LOUD,死んだら骨 | SUSHIBOYS',
    description: 'LOUD 死んだら骨',
    url: 'https://sushiboys350.com/discography/record/shindarahone.html',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/discography-detail.css',
    js: '/js/discographyDetail.js'
  };
  const discographyData = discography();
  %>
  <%- include('../../_inc/_head', {pageid: pageid, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {current: 'discography'}); %>
    <main class="main">
      <%- include('../../_inc/components/_heading', {currentPrimary: 'Discography', currentSecondary: '楽曲'}); %>
      <%- include('../../_inc/components/discography/record/_record', {discographyData: discographyData, index: 1}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
