<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- prettier-ignore -->
    <%_
      const localmeta = {
        title: `Paddle | SUSHIBOYS`,
        description: `東京フラットシート Sunflower (feat. Jeter) WALL (feat. Hys plasma) SLEEP SLEEP SHEEP Knock! Knock! Knock! RAP RAP RAP KIRA KIRA カイエン青山 靴下 (feat. kojikoji) 絵 朝が来るまで`,
        url: `https://sushiboys350.com/discography/farmhouse/ep/paddle.html`,
        pageid: `discography`,
        type: `farmhouseEp`,
        index: 1,
        path: '../../../../'
      };
      const localogp = {
        title: localmeta.title,
        description: localmeta.description,
        url: localmeta.url
      };
      const localfile = {
        css: `/assets/css/discography-detail.css`,
        js: `/assets/js/discographyDetail.js`
      };
    _%>
    <%- include(localmeta.path + `components/_head`, {meta: localmeta, ogp: localogp, file: localfile}); _%>
    <%- include(localmeta.path + `_data/_discography`); _%>
    <%_ discographyData = discography(); _%>
  </head>
  <body>
    <%- include(localmeta.path + `components/_googletagmanager`); _%>

    <div class="wrapper">
      <!-- prettier-ignore -->
      <%- include(localmeta.path + `components/_global-navigation`, {meta: localmeta}); _%>

      <main class="main">
        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_header`, {meta: localmeta}); _%>

        <div>
          <!-- prettier-ignore -->
          <%- include(localmeta.path + `components/_hero`, {meta: localmeta}); _%>

          <div class="content">
            <!-- prettier-ignore -->
            <%- include(localmeta.path + `components/discography/detail/_article`, {meta: localmeta, discographyData: discographyData}); _%>
          </div>
        </div>

        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_toggle`); _%>

        <%- include(localmeta.path + `components/_footer`); _%>
      </main>
    </div>
  </body>
</html>
