<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_news'); %>
  <%
  const pageid = 'news';
  const localmeta = {
    title: 'みんなでわいわい | SUSHIBOYS',
    description: 'みんなでわいわい – SUSHIBOYS 【OFFICIAL MUSIC VIDEO】Youtube Channelにて公開しました！この楽曲はゲーム「みんなでワイワイ！スペランカー」のイメージソングです。',
    url: 'https://sushiboys350.com/news/post007',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/news-detail.css',
    js: '/js/newsDetail.js'
  };
  const newsData = news();
  %>
  <%- include('../../_inc/_head', {pageid: pageid, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {current: 'news'}); %>
    <main class="main">
      <%- include('../../_inc/components/news/detail/_post007', {newsData: newsData}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
