<!DOCTYPE html>
<html lang="ja">
<head>
  <%_
    const localmeta = {
      title: `ðŸ£4/26ï¼ˆfri.)SPACE KUMAMOTO ~é‡‘æ™©å®‡å®™~ å‡ºæ¼”æ±ºå®šðŸ£ | SUSHIBOYS`,
      description: `4æœˆ26æ—¥ï¼ˆé‡‘ï¼‰ç†Šæœ¬ã«ã¦SPACE KUMAMOTO ~é‡‘æ™©å®‡å®™~ å‡ºæ¼”æ±ºå®šðŸ£ ç†Šæœ¬ã«ã¦æ¡ã‚Šã¾ã™ðŸ£ãœã²ðŸ£`,
      url: 'https://sushiboys350.com/news/post060/',
      pageid: 'news',
      index: 60 - 1,
      path: '../../'
    };
    const localogp = {
      title: localmeta.title,
      description: localmeta.description,
      url: localmeta.url
    };
    const localfile = {
      css: '/css/news-detail.css',
      js: '/js/newsDetail.js'
    };
  _%>
  <%- include(localmeta.path + `_inc/_head`, {meta: localmeta, ogp: localogp, file: localfile}); %>
  <%- include(localmeta.path + `_data/_news`); %>
  <%_ newsData = news(); _%>
</head>
<body>
  <%- include(localmeta.path + `_inc/components/_googletagmanager`); %>
  <div class="wrapper">
    <%- include(localmeta.path + `_inc/components/_global-navigation`, {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + `_inc/components/_header`, {meta: localmeta}); %>
      <div>
        <%- include(localmeta.path + `_inc/components/_hero`, {meta: localmeta}); %>
        <div class="content">
          <%- include(localmeta.path + `_inc/components/news/post/_post`, {meta: localmeta, newsData: newsData}); %>
        </div>
      </div>
      <%- include(localmeta.path + `_inc/components/_toggle`); %>
      <%- include(localmeta.path + `_inc/components/_footer`); %>
    </main>
  </div>
</body>
</html>
