<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_news'); %>
  <%
  const localpage = {
    id: 'news',
    primary: 'News',
    Secondary: 'お知らせ',
    index: 5,
  };
  const localmeta = {
    title: '『死んだら骨』10/25リリース！ | SUSHIBOYS',
    description: '10月25日、SUSHIBOYSの新作EP『死んだら骨』が発売決定いたしました。ファームハウス、サンテナの2人体制となり、「SANAGI」「DRUG」「高速道路」と新曲を発表してきたSUSHIBOYSがEPとして新作を発表致します。',
    url: 'https://sushiboys350.com/news/post006/',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/news-detail.css',
    js: '/js/newsDetail.js'
  };
  const newsData = news();
  %>
  <%- include('../../_inc/_head', {page: localpage, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {page: localpage}); %>
    <main class="main">
      <%- include('../../_inc/components/_heading', {page: localpage}); %>
      <%- include('../../_inc/components/news/post/_post', {newsData: newsData, page: localpage}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
