<section class="section">
  <div class="section__inner">
    <h3 class="section__heading section__heading--en">Knickknack</h3>
    <div id="swiper-knickknack" class="swiper carousel">
      <ul class="swiper-wrapper carousel__list">
        <% const knickknacks = goodsData.knickknacks; %>
        <% knickknacks.forEach(function(knickknack) { %>
        <li class="swiper-slide carousel__card">
          <a href="<%- knickknack.url %>" target="_blank" rel="noopener noreferrer">
            <img class="carousel__image" src="<%- knickknack.image %>" alt="<%- knickknack.alt %>">
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__inner">
    <h3 class="section__heading section__heading--en">Recording media</h3>
    <div id="swiper-recording-media" class="carousel">
      <ul class="swiper-wrapper carousel__list">
        <% const recordingMedias = goodsData.recordingMedias; %>
        <% recordingMedias.forEach(function(recordingMedias) { %>
        <li class="swiper-slide carousel__card">
          <a href="<%- recordingMedias.url %>" target="_blank" rel="noopener noreferrer">
            <img class="carousel__image" src="<%- recordingMedias.image %>" alt="<%- recordingMedias.alt %>">
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__inner">
    <h3 class="section__heading section__heading--en">Cap</h3>
    <div id="swiper-cap" class="carousel">
      <ul class="swiper-wrapper carousel__list">
        <% const caps = goodsData.caps; %>
        <% caps.forEach(function(cap) { %>
        <li class="swiper-slide carousel__card">
          <a href="<%- cap.url %>" target="_blank" rel="noopener noreferrer">
            <img class="carousel__image" src="<%- cap.image %>" alt="<%- cap.alt %>">
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__inner">
    <h3 class="section__heading section__heading--en">Hoodie</h3>
    <div id="swiper-hoodie" class="carousel">
      <ul class="swiper-wrapper carousel__list">
        <% const hoodies = goodsData.hoodies; %>
        <% hoodies.forEach(function(hoodie) { %>
        <li class="swiper-slide carousel__card">
          <a href="<%- hoodie.url %>" target="_blank" rel="noopener noreferrer">
            <img class="carousel__image" src="<%- hoodie.image %>" alt="<%- hoodie.alt %>">
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__inner">
    <h3 class="section__heading section__heading--en">Parker</h3>
    <div id="swiper-parker" class="carousel">
      <ul class="swiper-wrapper carousel__list">
        <% const parkers = goodsData.parkers; %>
        <% parkers.forEach(function(parker) { %>
        <li class="swiper-slide carousel__card">
          <a href="<%- parker.url %>" target="_blank" rel="noopener noreferrer">
            <img class="carousel__image" src="<%- parker.image %>" alt="<%- parker.alt %>">
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__inner">
    <h3 class="section__heading section__heading--en">Long T-Shirt</h3>
    <div id="swiper-long-t-shirt" class="carousel">
      <ul class="swiper-wrapper carousel__list">
        <% const longTShirts = goodsData.longTShirts; %>
        <% longTShirts.forEach(function(longTShirt) { %>
        <li class="swiper-slide carousel__card">
          <a href="<%- longTShirt.url %>" target="_blank" rel="noopener noreferrer">
            <img class="carousel__image" src="<%- longTShirt.image %>" alt="<%- longTShirt.alt %>">
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__inner">
    <h3 class="section__heading section__heading--en">T-Shirt</h3>
    <div id="swiper-t-shirt" class="carousel">
      <ul class="swiper-wrapper carousel__list">
        <% const tShirts = goodsData.tShirts; %>
        <% tShirts.forEach(function(tShirt) { %>
        <li class="swiper-slide carousel__card">
          <a href="<%- tShirt.url %>" target="_blank" rel="noopener noreferrer">
            <img class="carousel__image" src="<%- tShirt.image %>" alt="<%- tShirt.alt %>">
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__inner">
    <h3 class="section__heading section__heading--en">Shorts</h3>
    <div id="swiper-shorts" class="carousel">
      <ul class="swiper-wrapper carousel__list">
        <% const aLotsOfShorts = goodsData.aLotsOfShorts; %>
        <% aLotsOfShorts.forEach(function(shorts) { %>
        <li class="swiper-slide carousel__card">
          <a href="<%- shorts.url %>" target="_blank" rel="noopener noreferrer">
            <img class="carousel__image" src="<%- shorts.image %>" alt="<%- shorts.alt %>">
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</section>
