<section class="section">
  <div class="section__inner">
    <h3 class="heading heading--secondary heading--en">Knickknack</h3>
    <div
      id="swiper-knickknack"
      class="carousel"
    >
      <ul class="swiper-wrapper carousel__list">
        <%_ const knickknacks = goodsData.knickknacks; _%>
        <%_ knickknacks.forEach(function(knickknack) { _%>
        <li class="swiper-slide carousel__card">
          <a
            href="<%- knickknack.url %>"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              class="carousel__image"
              src="<%- knickknack.image %>"
              alt="<%- knickknack.alt %>"
            ></a
          >
        </li>
        <%_ }); _%>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <h3 class="heading heading--secondary heading--en">Recording media</h3>
    <div
      id="swiper-recording-media"
      class="carousel"
    >
      <ul class="swiper-wrapper carousel__list">
        <%_ const recordingMedias = goodsData.recordingMedias; _%>
        <%_ recordingMedias.forEach(function(recordingMedias) { _%>
        <li class="swiper-slide carousel__card">
          <a
            href="<%- recordingMedias.url %>"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              class="carousel__image"
              src="<%- recordingMedias.image %>"
              alt="<%- recordingMedias.alt %>"
            ></a
          >
        </li>
        <%_ }); _%>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <h3 class="heading heading--secondary heading--en">Cap</h3>
    <div
      id="swiper-cap"
      class="carousel"
    >
      <ul class="swiper-wrapper carousel__list">
        <%_ const caps = goodsData.caps; _%>
        <%_ caps.forEach(function(cap) { _%>
        <li class="swiper-slide carousel__card">
          <a
            href="<%- cap.url %>"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              class="carousel__image"
              src="<%- cap.image %>"
              alt="<%- cap.alt %>"
            ></a
          >
        </li>
        <%_ }); %>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <h3 class="heading heading--secondary heading--en">Hoodie</h3>
    <div
      id="swiper-hoodie"
      class="carousel"
    >
      <ul class="swiper-wrapper carousel__list">
        <%_ const hoodies = goodsData.hoodies; _%>
        <%_ hoodies.forEach(function(hoodie) { _%>
        <li class="swiper-slide carousel__card">
          <a
            href="<%- hoodie.url %>"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              class="carousel__image"
              src="<%- hoodie.image %>"
              alt="<%- hoodie.alt %>"
            ></a
          >
        </li>
        <%_ }); _%>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <h3 class="heading heading--secondary heading--en">Parker</h3>
    <div
      id="swiper-parker"
      class="carousel"
    >
      <ul class="swiper-wrapper carousel__list">
        <%_ const parkers = goodsData.parkers; _%>
        <%_ parkers.forEach(function(parker) { _%>
        <li class="swiper-slide carousel__card">
          <a
            href="<%- parker.url %>"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              class="carousel__image"
              src="<%- parker.image %>"
              alt="<%- parker.alt %>"
            ></a
          >
        </li>
        <%_ }); _%>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <h3 class="heading heading--secondary heading--en">Long T-Shirt</h3>
    <div
      id="swiper-long-t-shirt"
      class="carousel"
    >
      <ul class="swiper-wrapper carousel__list">
        <%_ const longTShirts = goodsData.longTShirts; _%>
        <%_ longTShirts.forEach(function(longTShirt) { _%>
        <li class="swiper-slide carousel__card">
          <a
            href="<%- longTShirt.url %>"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              class="carousel__image"
              src="<%- longTShirt.image %>"
              alt="<%- longTShirt.alt %>"
            ></a
          >
        </li>
        <%_ }); _%>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <h3 class="heading heading--secondary heading--en">T-Shirt</h3>
    <div
      id="swiper-t-shirt"
      class="carousel"
    >
      <ul class="swiper-wrapper carousel__list">
        <%_ const tShirts = goodsData.tShirts; _%>
        <%_ tShirts.forEach(function(tShirt) { _%>
        <li class="swiper-slide carousel__card">
          <a
            href="<%- tShirt.url %>"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              class="carousel__image"
              src="<%- tShirt.image %>"
              alt="<%- tShirt.alt %>"
            ></a
          >
        </li>
        <%_ }); _%>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <h3 class="heading heading--secondary heading--en">Shorts</h3>
    <div
      id="swiper-shorts"
      class="carousel"
    >
      <ul class="swiper-wrapper carousel__list">
        <%_ const aLotsOfShorts = goodsData.aLotsOfShorts; _%>
        <%_ aLotsOfShorts.forEach(function(shorts) { _%>
        <li class="swiper-slide carousel__card">
          <a
            href="<%- shorts.url %>"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              class="carousel__image"
              src="<%- shorts.image %>"
              alt="<%- shorts.alt %>"
            ></a
          >
        </li>
        <%_ }); _%>
      </ul>
    </div>
  </div>
</section>
