<section class="section">
  <div class="section__inner">
    <h2 class="heading" data-heading="Goods">グッズ</h2>
    <div class="carousel2">
      <h3 class="carousel2__title">Knickknack</h3>
      <ul class="carousel2__list dragscroll">
        <% let knickknacks = goodsData.knickknacks; %>
        <% knickknacks.forEach(function(knickknack) { %>
        <li class="carousel2__card">
          <a href="<%- knickknack.url %>" target="_blank" rel="noopener noreferrer">
            <img class="carousel2__image" src="<%- knickknack.image %>" alt="<%- knickknack.alt %>">
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
    <div class="carousel2">
      <h3 class="carousel2__title">Recording media</h3>
      <ul class="carousel2__list dragscroll">
        <% let recordingMedias = goodsData.recordingMedias; %>
        <% recordingMedias.forEach(function(recordingMedias) { %>
        <li class="carousel2__card">
          <a href="<%- recordingMedias.url %>" target="_blank" rel="noopener noreferrer">
            <img class="carousel2__image" src="<%- recordingMedias.image %>" alt="<%- recordingMedias.alt %>">
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
    <div class="carousel2">
      <h3 class="carousel2__title">Hoodie</h3>
      <ul class="carousel2__list dragscroll">
        <% let hoodies = goodsData.hoodies; %>
        <% hoodies.forEach(function(hoodie) { %>
        <li class="carousel2__card">
          <a href="<%- hoodie.url %>" target="_blank" rel="noopener noreferrer">
            <img class="carousel2__image" src="<%- hoodie.image %>" alt="<%- hoodie.alt %>">
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
    <div class="carousel2">
      <h3 class="carousel2__title">Parker</h3>
      <ul class="carousel2__list dragscroll">
        <% let parkers = goodsData.parkers; %>
        <% parkers.forEach(function(parker) { %>
        <li class="carousel2__card">
          <a href="<%- parker.url %>" target="_blank" rel="noopener noreferrer">
            <img class="carousel2__image" src="<%- parker.image %>" alt="<%- parker.alt %>">
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
    <div class="carousel2">
      <h3 class="carousel2__title">Long T-Shirt</h3>
      <ul class="carousel2__list dragscroll">
        <% let longTShirts = goodsData.longTShirts; %>
        <% longTShirts.forEach(function(longTShirt) { %>
        <li class="carousel2__card">
          <a href="<%- longTShirt.url %>" target="_blank" rel="noopener noreferrer">
            <img class="carousel2__image" src="<%- longTShirt.image %>" alt="<%- longTShirt.alt %>">
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
    <div class="carousel2">
      <h3 class="carousel2__title">T-Shirt</h3>
      <ul class="carousel2__list dragscroll">
        <% let tShirts = goodsData.tShirts; %>
        <% tShirts.forEach(function(tShirt) { %>
        <li class="carousel2__card">
          <a href="<%- tShirt.url %>" target="_blank" rel="noopener noreferrer">
            <img class="carousel2__image" src="<%- tShirt.image %>" alt="<%- tShirt.alt %>">
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
    <div class="carousel2">
      <h3 class="carousel2__title">Cap</h3>
      <ul class="carousel2__list dragscroll">
        <% let caps = goodsData.caps; %>
        <% caps.forEach(function(cap) { %>
        <li class="carousel2__card">
          <a href="<%- cap.url %>" target="_blank" rel="noopener noreferrer">
            <img class="carousel2__image" src="<%- cap.image %>" alt="<%- cap.alt %>">
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</section>
