<section class="section">
  <div class="section__inner">
    <article class="article">
      <!-- prettier-ignore -->
      <%_
        const posts = newsData?.posts || [];
        const reversePosts = [...posts].reverse();
        const post = reversePosts[meta.index] || {};
      _%>
      <h3 class="article__title">
        <%- post.title || 'タイトルがありません' %>
      </h3>

      <%_ if (post.hero?.image) { _%>
      <figure class="article__eyecatch">
        <img
          class="article__eyecatch-image"
          src="<%- post.hero.image || '/assets/img/no-image.png' %>"
          alt="<%- post.hero.alt || '' %>"
        />
      </figure>
      <%_ } _%>

      <div class="article__body">
        <%_ (post.leads || []).forEach(lead => { _%>
        <p><%- lead %></p>
        <%_ }); _%>
        <!-- prettier-ignore -->
        <%_ if (post.photos?.length) { _%>
        <%_ post.photos.forEach(photo => { _%>
        <figure class="article__image-wrap">
          <img
            class="article__image"
            src="<%- photo.image %>"
            alt="<%- photo.alt || '' %>"
          />
        </figure>
        <%_ }); _%>
        <!-- prettier-ignore -->
        <%_ } _%>
      </div>

      <div class="article__button">
        <a
          class="button button--back"
          href="/news/"
          >Back</a
        >
      </div>
    </article>
  </div>
</section>
