<section class="section">
  <h2 class="heading" data-heading="News">お知らせ</h2>
  <article class="article">
    <% let posts = newsData.posts; %>
    <% if (posts[8].hero.image !== '') { %>
    <figure class="article__hero">
      <img class="article__hero-image" src="<%- posts[8].hero.image %>" alt="<%- posts[8].hero.alt %>">
    </figure>
    <% } %>
    <div class="article__inner">
      <h2 class="article__title"><%- posts[8].title %></h2>
      <% posts[8].leads.forEach(lead => { %>
      <p class="text"><%- lead %></p>
      <% }); %>
      <% if (posts[8].photos.length !== 0) { %>
      <% posts[8].photos.forEach(photo => { %>
      <figure class="article__image-wrap">
        <img class="article__image" src="<%- photo.image %>" alt="<%- photo.alt %>">
      </figure>
      <% }); %>
      <% } %>
    </div>
  </article>
  <div class="button__wrap">
    <a class="button" href="/news/">
      <span class="button__text">Back</span>
    </a>
  </div>
</section>
