<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../_data/_news'); %>
  <%
  const localpage = {
    id: 'news',
    primary: 'News',
    Secondary: 'お知らせ',
  };
  const localmeta = {
    title: 'NEWS | SUSHIBOYS',
    description: 'SUSHIBOYSニュース。ライブ出演、リリース情報、メディア掲載等の最新情報をご覧いただけます。',
    url: 'https://sushiboys350.com/news/',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/news.css',
    js: '/js/news.js'
  };
  const newsData = news();
  %>
  <%- include('../_inc/_head', {page: localpage, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../_inc/components/_header', {page: localpage}); %>
    <main class="main">
      <%- include('../_inc/components/_heading', {page: localpage}); %>
      <%- include('../_inc/components/news/_news', {newsData: newsData}); %>
    </main>
    <%- include('../_inc/components/_footer'); %>
  </div>
</body>
</html>
