<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../_data/_news') %>
  <%
  let localmeta = {
    title: 'NEWS | SUSHIBOYS',
    description: ''
  };
  let localfile = {
    css: '/css/news-category.css',
    js: '/js/newsCategory.js'
  };
  let newsData = news();
  %>
  <%- include('../_inc/_head', {meta: localmeta, file: localfile}) %>
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <%- include('../_inc/components/_header') %>
      <main class="main">
        <%- include('../_inc/components/news/_news-category', {newsData: newsData}) %>
      </main>
      <%- include('../_inc/components/_footer') %>
    </div>
  </div>
</body>
</html>
