<!DOCTYPE html>
<html lang="ja">
<head>
  <%_
    const localmeta = {
      title: 'NEWS | SUSHIBOYS',
      description: 'SUSHIBOYSニュース。ライブ出演、リリース情報、メディア掲載等の最新情報をご覧いただけます。',
      url: 'https://sushiboys350.com/news/',
      pageid: 'news',
      path: '../'
    };
    const localogp = {
      title: localmeta.title,
      description: localmeta.description,
      url: localmeta.url
    };
    const localfile = {
      css: '/css/news.css',
      js: '/js/news.js'
    };
  _%>
  <%- include(localmeta.path + '_inc/_head', {meta: localmeta, ogp: localogp, file: localfile}); %>
  <%- include(localmeta.path + '_data/_news'); %>
  <%_ newsData = news(); _%>
</head>
<body>
  <%- include(localmeta.path + '_inc/components/_googletagmanager'); %>
  <div
    id="wrapper"
    class="wrapper"
  >
    <%- include(localmeta.path + '_inc/components/_header', {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + '_inc/components/_hero', {meta: localmeta}); %>
      <div class="content">
        <%- include(localmeta.path + '_inc/components/news/_news', {meta: localmeta, newsData: newsData}); %>
      </div>
    </main>
    <%- include(localmeta.path + '_inc/components/_toggle'); %>
    <%- include(localmeta.path + '_inc/components/_footer'); %>
  </div>
</body>
</html>
