<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_news'); %>
  <%
  const localpage = {
    id: 'news',
    index: 0,
  };
  const localmeta = {
    title: 'なぜ笑いと強い共感を呼ぶのか？ | SUSHIBOYS',
    description: 'DI:GAオンラインにてインタビューが掲載されました。プレゼント企画がございます。',
    url: 'https://sushiboys350.com/news/post001/',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/news-detail.css',
    js: '/js/newsDetail.js'
  };
  const newsData = news();
  %>
  <%- include('../../_inc/_head', {page: localpage, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {page: localpage}); %>
    <main class="main">
      <%- include('../../_inc/components/_heading', {page: localpage}); %>
      <%- include('../../_inc/components/news/post/_post', {page: localpage, newsData: newsData}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
