<!DOCTYPE html>
<html lang="ja">
<head>
  <%
    const localmeta = {
      title: 'なぜ笑いと強い共感を呼ぶのか？ | SUSHIBOYS',
      description: 'DI:GAオンラインにてインタビューが掲載されました。プレゼント企画がございます。',
      url: 'https://sushiboys350.com/news/post001/',
      pageid: 'news',
      index: 0,
      path: '../../'
    };
    const localogp = {
      title: localmeta.title,
      description: localmeta.description,
      url: localmeta.url
    };
    const localfile = {
      css: '/css/news-detail.css',
      js: '/js/newsDetail.js'
    };
  %>
  <%- include(localmeta.path + '_inc/_head', {meta: localmeta, ogp: localogp, file: localfile}); %>
  <%- include(localmeta.path + '_data/_news'); %>
  <% newsData = news(); %>
</head>
<body>
  <%- include(localmeta.path + '_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include(localmeta.path + '_inc/components/_header', {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + '_inc/components/_heading', {meta: localmeta}); %>
      <%- include(localmeta.path + '_inc/components/news/post/_post', {meta: localmeta, newsData: newsData}); %>
    </main>
    <%- include(localmeta.path + '_inc/components/_footer'); %>
  </div>
</body>
</html>
