<!DOCTYPE html>
<html lang="ja">
<head>
  <%_
    const localmeta = {
      title: 'ã€ŒBeyond magazineã€ã®ãƒ™ã‚¹ãƒˆãƒã‚¤2023CRASH BAGGAGEï¼ˆã‚¯ãƒ©ãƒƒã‚·ãƒ¥ãƒã‚²ãƒ¼ã‚¸ï¼‰ã«ã¤ã„ã¦èªžã‚Šã‚„ã—ãŸðŸ£ðŸ§³ | SUSHIBOYS',
      description: 'ðŸ£WEBãƒžã‚¬ã‚¸ãƒ³ã€ŒBeyond magazineã€ã®ã€Œãƒ™ã‚¹ãƒˆãƒã‚¤2023ã€ã«ã¦SUSHIBOYSãŒãŠå‡ºã‹ã‘ã«ä½¿ã£ã¦ã„ã‚‹ã€CRASH BAGGAGEï¼ˆã‚¯ãƒ©ãƒƒã‚·ãƒ¥ãƒã‚²ãƒ¼ã‚¸ï¼‰ã«ã¤ã„ã¦èªžã‚Šã‚„ã—ãŸðŸ£ðŸ•ðŸ§³',
      url: 'https://sushiboys350.com/news/post053/',
      pageid: 'news',
      index: 53 - 1,
      path: '../../'
    };
    const localogp = {
      title: localmeta.title,
      description: localmeta.description,
      url: localmeta.url
    };
    const localfile = {
      css: '/css/news-detail.css',
      js: '/js/newsDetail.js'
    };
  _%>
  <%- include(localmeta.path + `_inc/_head`, {meta: localmeta, ogp: localogp, file: localfile}); %>
  <%- include(localmeta.path + `_data/_news`); %>
  <%_ newsData = news(); _%>
</head>
<body>
  <%- include(localmeta.path + `_inc/components/_googletagmanager`); %>
  <div
    id="wrapper"
    class="wrapper"
  >
    <%- include(localmeta.path + `_inc/components/_header`, {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + `_inc/components/_heading`, {meta: localmeta}); %>
      <%- include(localmeta.path + `_inc/components/news/post/_post`, {meta: localmeta, newsData: newsData}); %>
    </main>
    <%- include(localmeta.path + '_inc/components/_toggle'); %>
    <%- include(localmeta.path + `_inc/components/_footer`); %>
  </div>
</body>
</html>
