<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_news'); %>
  <%
  let localmeta = {
    title: '新作EP『350』を語る | SUSHIBOYS',
    description: 'エンタメ特化型情報メディアSPICEにてインタビューが掲載されました。'
  };
  let localfile = {
    css: '/css/news-detail.css',
    js: '/js/newsDetail.js'
  };
  let newsData = news();
  %>
  <%- include('../../_inc/_head', {meta: localmeta, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {current: 'news'}); %>
    <main class="main">
      <%- include('../../_inc/components/news/detail/_post002', {newsData: newsData}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
