<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_news'); %>
  <%
  let localmeta = {
    title: 'PEDAL 配信開始 | SUSHIBOYS',
    description: 'FARMHOUSE SOLO EP 『PEDAL』がデジタル配信開始となりました。',
    url: 'https://sushiboys350.com/news/detail/post004.html',
  };
  let localfile = {
    css: '/css/news-detail.css',
    js: '/js/newsDetail.js'
  };
  let newsData = news();
  %>
  <%- include('../../_inc/_head', {meta: localmeta, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {current: 'news'}); %>
    <main class="main">
      <%- include('../../_inc/components/news/detail/_post004', {newsData: newsData}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
