<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_news'); %>
  <%
  let localmeta = {
    title: 'YATSUI FESTIVAL! 2022 出演決定 | SUSHIBOYS',
    description: 'YATSUI FESTIVAL! 2022 出演決定いたしやした！ 我々SUSHIBOYSは6/18(土)出演します！'
  };
  const localcanonical = {
    url: 'https://sushiboys350.com/news/detail/post012.html',
  };
  let localfile = {
    css: '/css/news-detail.css',
    js: '/js/newsDetail.js'
  };
  let newsData = news();
  %>
  <%- include('../../_inc/_head', {meta: localmeta, canonical: localcanonical, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {current: 'news'}); %>
    <main class="main">
      <%- include('../../_inc/components/news/detail/_post012', {newsData: newsData}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
