<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_news'); %>
  <%
  const pageid = 'news';
  const localmeta = {
    title: 'RUSH BALL 2022 出演決定 | SUSHIBOYS',
    description: 'RUSH BALL 2022 2022年8月27日(土)、28日(日) OPEN 9:30 / START 11:00 会場：泉大津フェニックスATMCステージ出演者発表 SUSHIBOYSは8月28日（日）に出演しやす。',
    url: 'https://sushiboys350.com/news/detail/post015.html',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/news-detail.css',
    js: '/js/newsDetail.js'
  };
  const newsData = news();
  %>
  <%- include('../../_inc/_head', {pageid: pageid, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {current: 'news'}); %>
    <main class="main">
      <%- include('../../_inc/components/news/detail/_post015', {newsData: newsData}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
