<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_news'); %>
  <%
  let localmeta = {
    title: 'みんなでわいわい | SUSHIBOYS',
    description: 'みんなでわいわい – SUSHIBOYS 【OFFICIAL MUSIC VIDEO】Youtube Channelにて公開しました！この楽曲はゲーム「みんなでワイワイ！スペランカー」のイメージソングです。'
  };
  const localcanonical = {
    url: 'https://sushiboys350.com/news/detail/post007.html',
  };
  let localfile = {
    css: '/css/news-detail.css',
    js: '/js/newsDetail.js'
  };
  let newsData = news();
  %>
  <%- include('../../_inc/_head', {meta: localmeta, canonical: localcanonical, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {current: 'news'}); %>
    <main class="main">
      <%- include('../../_inc/components/news/detail/_post007', {newsData: newsData}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
