<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_news'); %>
  <%
  let localmeta = {
    title: '俺たちは不良、じゃなくて不良品。 | SUSHIBOYS',
    description: 'ナタリーでのインタビューが公開となりました。',
    url: 'https://sushiboys350.com/news/detail/post003.html',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  let localfile = {
    css: '/css/news-detail.css',
    js: '/js/newsDetail.js'
  };
  let newsData = news();
  %>
  <%- include('../../_inc/_head', {meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {current: 'news'}); %>
    <main class="main">
      <%- include('../../_inc/components/news/detail/_post003', {newsData: newsData}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
