<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_news'); %>
  <%
  let localmeta = {
    title: 'SUSHIBOYS to Bboy TSUKKI | SUSHIBOYS',
    description: '“ブレイキン”としての「HIP HOP」“ラップ” としての「HIP HOP」同じカルチャーから生まれた2つが交錯するとき、どのようなセッションが生まれるのか。'
  };
  const localcanonical = {
    url: 'https://sushiboys350.com/news/detail/post009.html',
  };
  let localfile = {
    css: '/css/news-detail.css',
    js: '/js/newsDetail.js'
  };
  let newsData = news();
  %>
  <%- include('../../_inc/_head', {meta: localmeta, canonical: localcanonical, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {current: 'news'}); %>
    <main class="main">
      <%- include('../../_inc/components/news/detail/_post009', {newsData: newsData}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
