<!DOCTYPE html>
<html lang="ja">
<head>
  <%_
    const localmeta = {
      title: `7.8(Fri.)道玄坂48 卒業式 =SOUND MUSEUM VISION出演決定 | SUSHIBOYS`,
      description: `道玄坂48 卒業式 =SOUND MUSEUM VISION CLOSING KICK OFF PARTY= @SOUND MUSEUM VISION OPEN:21:00 DOOR:3,500 ADV3,000`,
      url: `https://sushiboys350.com/news/post017/`,
      pageid: `news`,
      index: 16,
      path: `../../`
    };
    const localogp = {
      title: localmeta.title,
      description: localmeta.description,
      url: localmeta.url
    };
    const localfile = {
      css: `/css/news-detail.css`,
      js: `/js/newsDetail.js`
    };
  _%>
  <%- include(localmeta.path + `_inc/_head`, {meta: localmeta, ogp: localogp, file: localfile}); %>
  <%- include(localmeta.path + `_data/_news`); %>
  <%_ newsData = news(); _%>
</head>
<body>
  <%- include(localmeta.path + `_inc/components/_googletagmanager`); %>
  <div class="wrapper">
    <%- include(localmeta.path + `_inc/components/_global-navigation`, {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + `_inc/components/_header`, {meta: localmeta}); %>
      <div>
        <%- include(localmeta.path + `_inc/components/_hero`, {meta: localmeta}); %>
        <div class="content">
          <%- include(localmeta.path + `_inc/components/news/post/_post`, {meta: localmeta, newsData: newsData}); %>
        </div>
      </div>
      <%- include(localmeta.path + `_inc/components/_toggle`); %>
      <%- include(localmeta.path + `_inc/components/_footer`); %>
    </main>
  </div>
</body>
</html>
