<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../../_data/_discography'); %>
  <%
  const pageid = 'discography';
  const localmeta = {
    title: 'Paddle | SUSHIBOYS',
    description: '東京フラットシート Sunflower (feat. Jeter) WALL (feat. Hys plasma) SLEEP SLEEP SHEEP Knock! Knock! Knock! RAP RAP RAP KIRA KIRA カイエン青山 靴下 (feat. kojikoji) 絵 朝が来るまで',
    url: 'https://sushiboys350.com/discography/farmhouse/ep/paddle.html',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/discography-detail.css',
    js: '/js/discographyDetail.js'
  };
  const discographyData = discography();
  %>
  <%- include('../../../_inc/_head', {pageid: pageid, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../../_inc/components/_header', {current: 'discography'}); %>
    <main class="main">
      <%- include('../../../_inc/components/discography/farmhouse/ep/_ep', {discographyData: discographyData, index: 1}); %>
    </main>
    <%- include('../../../_inc/components/_footer'); %>
  </div>
</body>
</html>
