<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../../_data/_discography'); %>
  <%
  let localmeta = {
    title: 'Paddle | SUSHIBOYS',
    description: '東京フラットシート Sunflower (feat. Jeter) WALL (feat. Hys plasma) SLEEP SLEEP SHEEP Knock! Knock! Knock! RAP RAP RAP KIRA KIRA カイエン青山 靴下 (feat. kojikoji) 絵 朝が来るまで'
  };
  const localcanonical = {
    url: 'https://sushiboys350.com/discography/farmhouse/ep/paddle.html',
  };
  let localfile = {
    css: '/css/discography-detail.css',
    js: '/js/discographyDetail.js'
  };
  let discographyData = discography();
  %>
  <%- include('../../../_inc/_head', {meta: localmeta, canonical: localcanonical, file: localfile}); %>
</head>
<body>
  <%- include('../../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../../_inc/components/_header', {current: 'discography'}); %>
    <main class="main">
      <%- include('../../../_inc/components/discography/farmhouse/ep/_paddle', {discographyData: discographyData}); %>
    </main>
    <%- include('../../../_inc/components/_footer'); %>
  </div>
</body>
</html>
