<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../../_data/_discography'); %>
  <%
  const pageid = 'discography';
  const localmeta = {
    title: 'PEDAL | SUSHIBOYS',
    description: 'swim リスタート (feat. kou-kei) 緑茶 ネットサーフィン ママチャリ SANAGI (feat. SANTENA) BABY Good Day (feat. SANTENA & O.D.A) アップデート (feat. SUSHIBOYS)',
    url: 'https://sushiboys350.com/discography/farmhouse/ep/pedal.html',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/discography-detail.css',
    js: '/js/discographyDetail.js'
  };
  const discographyData = discography();
  %>
  <%- include('../../../_inc/_head', {pageid: pageid, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../../_inc/components/_header', {current: 'discography'}); %>
    <main class="main">
      <%- include('../../../_inc/components/discography/farmhouse/ep/_ep', {discographyData: discographyData, index: 0}); %>
    </main>
    <%- include('../../../_inc/components/_footer'); %>
  </div>
</body>
</html>
