<!doctype html>
<html lang="ja">
  <head>
    <!-- prettier-ignore -->
    <%_
      const localmeta = {
        title: 'Hondaæ–°åž‹SUVã€ŽWR-Vã€TVCMã‚½ãƒ³ã‚°ã‚’æ‹…å½“ðŸ£ | SUSHIBOYS',
        description: 'Hondaæ–°åž‹SUVã€ŽWR-Vã€ã®TVCMã‚½ãƒ³ã‚°ã‚’ä½œã‚Šã¾ã—ãŸï¼ðŸ£ ãƒ†ãƒ¬ãƒ“ã€WEBã§ãœã²è¦‹ã‹ã‘ã¦ãã ã•ã„ðŸ£ã‚¬ãƒƒãƒ†ãƒ³ðŸ£',
        url: 'https://sushiboys350.com/news/post051/',
        pageid: 'news',
        index: 51 - 1,
        path: '../../'
      };
      const localogp = {
        title: localmeta.title,
        description: localmeta.description,
        url: localmeta.url
      };
      const localfile = {
        css: `/assets/css/news-detail.css`,
        js: `/assets/js/newsDetail.js`
      };
    _%>
    <%- include(localmeta.path + `components/_head`, {meta: localmeta, ogp: localogp, file: localfile}); _%>
    <%- include(localmeta.path + `../_data/_news`); _%>
    <%_ newsData = news(); _%>
  </head>
  <body>
    <%- include(localmeta.path + `components/_googletagmanager`); _%>

    <div class="wrapper">
      <!-- prettier-ignore -->
      <%- include(localmeta.path + `components/_global-navigation`, {meta: localmeta}); _%>

      <main class="main">
        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_header`, {meta: localmeta}); _%>

        <div>
          <!-- prettier-ignore -->
          <%- include(localmeta.path + `components/_hero`, {meta: localmeta}); _%>

          <div class="content">
            <!-- prettier-ignore -->
            <%- include(localmeta.path + `components/news/post/_post`, {meta: localmeta, newsData: newsData}); _%>
          </div>
        </div>

        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_toggle`); _%>

        <%- include(localmeta.path + `components/_footer`); _%>
      </main>
    </div>
  </body>
</html>
