<!DOCTYPE html>
<html lang="ja">
<head>
  <%_
    const localmeta = {
      title: 'Hondaæ–°åž‹SUVã€ŽWR-Vã€TVCMã‚½ãƒ³ã‚°ã‚’æ‹…å½“ðŸ£ | SUSHIBOYS',
      description: 'Hondaæ–°åž‹SUVã€ŽWR-Vã€ã®TVCMã‚½ãƒ³ã‚°ã‚’ä½œã‚Šã¾ã—ãŸï¼ðŸ£ ãƒ†ãƒ¬ãƒ“ã€WEBã§ãœã²è¦‹ã‹ã‘ã¦ãã ã•ã„ðŸ£ã‚¬ãƒƒãƒ†ãƒ³ðŸ£',
      url: 'https://sushiboys350.com/news/post050/',
      pageid: 'news',
      index: 51 - 1,
      path: '../../'
    };
    const localogp = {
      title: localmeta.title,
      description: localmeta.description,
      url: localmeta.url
    };
    const localfile = {
      css: '/css/news-detail.css',
      js: '/js/newsDetail.js'
    };
  _%>
  <%- include(localmeta.path + `_inc/_head`, {meta: localmeta, ogp: localogp, file: localfile}); %>
  <%- include(localmeta.path + `_data/_news`); %>
  <%_ newsData = news(); _%>
</head>
<body>
  <%- include(localmeta.path + `_inc/components/_googletagmanager`); %>
  <div
    id="wrapper"
    class="wrapper"
  >
    <%- include(localmeta.path + `_inc/components/_header`, {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + `_inc/components/_heading`, {meta: localmeta}); %>
      <%- include(localmeta.path + `_inc/components/news/post/_post`, {meta: localmeta, newsData: newsData}); %>
    </main>
    <%- include(localmeta.path + '_inc/components/_toggle'); %>
    <%- include(localmeta.path + `_inc/components/_footer`); %>
  </div>
</body>
</html>
