<nav class="global-navigation global-navigation--vertically">
  <div class="global-navigation__inner global-navigation__inner--vertically">
    <figure>
      <img
        class="global-navigation__logo"
        src="/img/logo.png"
        alt="SUSHIBOYS"
      />
    </figure>

    <%_ const currentClass = ` current`; _%>
    <ul class="global-navigation__list global-navigation__list--vertically">
      <li>
        <a
          class="global-navigation__anchor<%- meta.pageid == `home` ? currentClass : `` %>"
          href="/"
          >Home</a
        >
      </li>
      <li>
        <a
          class="global-navigation__anchor<%- meta.pageid == `biography` ? currentClass : `` %>"
          href="/biography/"
          >Biography</a
        >
      </li>
      <li>
        <a
          class="global-navigation__anchor<%- meta.pageid == `news` ? currentClass : `` %>"
          href="/news/"
          >News</a
        >
      </li>
      <li>
        <a
          class="global-navigation__anchor<%- meta.pageid == `discography` ? currentClass : `` %>"
          href="/discography/"
          >Discography</a
        >
      </li>
      <li>
        <a
          class="global-navigation__anchor<%- meta.pageid == `goods` ? currentClass : `` %>"
          href="/goods/"
          >Goods</a
        >
      </li>
      <li>
        <a
          class="global-navigation__anchor<%- meta.pageid == `picture` ? currentClass : `` %>"
          href="/picture/look/summer-vacation/"
          >Picture</a
        >
      </li>
      <li>
        <a
          class="global-navigation__anchor<%- meta.pageid == `contact` ? currentClass : `` %>"
          href="/contact/"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</nav>
