<header class="header" data-header>
  <h1 class="header__title">
    <a class="header__title-anchor" href="/">Sushiboys</a>
  </h1>
  <%_ const currentClass = ' current'; _%>
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item"><a class="navigation__anchor<%- meta.pageid == 'home' ? currentClass : '' %>" href="/">Home</a></li>
      <li class="navigation__item"><a class="navigation__anchor<%- meta.pageid == 'news' ? currentClass : '' %>" href="/news/">News</a></li>
      <li class="navigation__item"><a class="navigation__anchor<%- meta.pageid == 'discography' ? currentClass : '' %>" href="/discography/">Discography</a></li>
      <li class="navigation__item"><a class="navigation__anchor<%- meta.pageid == 'goods' ? currentClass : '' %>" href="/goods/">Goods</a></li>
      <li class="navigation__item"><a class="navigation__anchor<%- meta.pageid == 'picture' ? currentClass : '' %>" href="/picture/look/summer-vacation/">Picture</a></li>
      <li class="navigation__item"><a class="navigation__anchor<%- meta.pageid == 'contact' ? currentClass : '' %>" href="/contact/">Contact</a></li>
    </ul>
  </nav>
</header>