<header class="header">
  <h1 class="site-title">
    <a class="site-title__link" href="/">Sushiboys</a>
  </h1>
  <% let currentClass = ' current'; %>
  <nav class="global-navigation">
    <div class="global-navigation--sp">
      <div id="js-global-navigation--sp__selector" class="global-navigation--sp__selector">
        <h2 class="global-navigation--sp__title">
          <% let text = ''; %>
          <% let page = current; %>
          <%
          switch (page) {
            case 'home':
              text = 'Home';
              break;
            case 'news':
              text = 'News';
              break;
            case 'discography':
              text = 'Discography';
              break;
            case 'goods':
              text = 'Goods';
              break;
            case 'contact':
              text = 'Contact'
              break;
          }
          %>
          <%= text %>
        </h2>
      </div>
      <div id="js-global-navigation--sp__menu" class="global-navigation--sp__menu">
        <ul class="global-navigation--sp__list">
          <li class="global-navigation--sp__item"><a class="global-navigation--sp__link" href="/">Home</a></li>
          <li class="global-navigation--sp__item"><a class="global-navigation--sp__link" href="/news/">News</a></li>
          <li class="global-navigation--sp__item"><a class="global-navigation--sp__link" href="/discography/">Discography</a></li>
          <li class="global-navigation--sp__item"><a class="global-navigation--sp__link" href="/goods/">Goods</a></li>
          <li class="global-navigation--sp__item"><a class="global-navigation--sp__link" href="/contact/">Ccntact</a></li>
        </ul>
        <div class="global-navigation--sp__close-wrap">
          <div id="js-global-navigation--sp__close" class="global-navigation--sp__close"></div>
        </div>
      </div>
    </div>
    <div class="global-navigation--pc">
      <ul class="global-navigation--pc__list">
        <li class="global-navigation--pc__item"><a class="global-navigation--pc__link<%- current == 'home' ? currentClass : '' %>" href="/">Home</a></li>
        <li class="global-navigation--pc__item"><a class="global-navigation--pc__link<%- current == 'news' ? currentClass : '' %>" href="/news/">News</a></li>
        <li class="global-navigation--pc__item"><a class="global-navigation--pc__link<%- current == 'discography' ? currentClass : '' %>" href="/discography/">Discography</a></li>
        <li class="global-navigation--pc__item"><a class="global-navigation--pc__link<%- current == 'goods' ? currentClass : '' %>" href="/goods/">Goods</a></li>
        <li class="global-navigation--pc__item"><a class="global-navigation--pc__link<%- current == 'contact' ? currentClass : '' %>" href="/contact/">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
