<header class="header" data-header>
  <h1 class="header__title">
    <a class="header__title-anchor" href="/">Sushiboys</a>
  </h1>
  <input id="humberger" class="header__checkbox" type="checkbox" data-humberger-toggle>
  <label class="header__button" for="humberger">
    <i class="header__button-bar"></i>
    <i class="header__button-bar"></i>
    <i class="header__button-bar"></i>
  </label>
  <nav class="navigation-sm" data-humberger-content>
    <ul class="navigation-sm__list">
      <li class="navigation-sm__item">
        <a class="navigation-sm__anchor" href="/">Home</a>
      </li>
      <li class="navigation-sm__item">
        <a class="navigation-sm__anchor" href="/news/">News</a>
      </li>
      <li class="navigation-sm__item">
        <a class="navigation-sm__anchor" href="/discography/">Discography</a>
      </li>
      <li class="navigation-sm__item">
        <a class="navigation-sm__anchor" href="/goods/">Goods</a>
      </li>
      <li class="navigation-sm__item">
        <a class="navigation-sm__anchor" href="/contact/">Contact</a>
      </li>
    </ul>
  </nav>

  <% let currentClass = ' current'; %>
  <nav class="navigation-pc">
    <ul class="navigation-pc__list">
      <li class="navigation-pc__item"><a class="navigation-pc__anchor<%- current == 'home' ? currentClass : '' %>" href="/">Home</a></li>
      <li class="navigation-pc__item"><a class="navigation-pc__anchor<%- current == 'news' ? currentClass : '' %>" href="/news/">News</a></li>
      <li class="navigation-pc__item"><a class="navigation-pc__anchor<%- current == 'discography' ? currentClass : '' %>" href="/discography/">Discography</a></li>
      <li class="navigation-pc__item"><a class="navigation-pc__anchor<%- current == 'goods' ? currentClass : '' %>" href="/goods/">Goods</a></li>
      <li class="navigation-pc__item"><a class="navigation-pc__anchor<%- current == 'contact' ? currentClass : '' %>" href="/contact/">Contact</a></li>
    </ul>
  </nav>
</header>
