<!DOCTYPE html>
<html lang="ja">
<head>
  <%_
    const localmeta = {
      title: `BIOGRAPHY | SUSHIBOYS`,
      description: `SUSHIBOYSの生態系。`,
      url: `https://sushiboys350.com/biography/`,
      pageid: `biography`,
      path: `../`
    };
    const localogp = {
      title: localmeta.title,
      description: localmeta.description,
      url: localmeta.url
    };
    const localfile = {
      css: `/css/biography.css`,
      js: `/js/biography.js`
    };
  _%>
  <%- include(localmeta.path + `_inc/_head`, {meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include(localmeta.path + `_inc/components/_googletagmanager`); %>
  <div
    id="wrapper"
    class="wrapper"
  >
    <%- include(localmeta.path + `_inc/components/_header`, {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + `_inc/components/_hero`, {meta: localmeta}); %>
      <div class="content">
        <%- include(localmeta.path + `_inc/components/biography/_biography`); %>
      </div>
    </main>
    <%- include(localmeta.path + `_inc/components/_toggle`); %>
    <%- include(localmeta.path + `_inc/components/_footer`); %>
  </div>
</body>
</html>
