<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- prettier-ignore -->
    <%_
      const localmeta = {
        title: 'ðŸ£2024å¹´ã‚‚SUSHIBOYSã¯å¹´è³€çŠ¶ã‚„ã‚Šã¾ã™ðŸ£ðŸ‰ | SUSHIBOYS',
        description: '2024å¹´ã‚‚ç„¡äº‹ã«å¹´è³€çŠ¶ã‚’ä½œæˆã§ãã¾ã—ãŸðŸ£ðŸŽ',
        url: 'https://sushiboys350.com/news/post048/',
        pageid: 'news',
        index: 48 - 1,
        path: '../../../'
      };
      const localogp = {
        title: localmeta.title,
        description: localmeta.description,
        url: localmeta.url
      };
      const localfile = {
        css: `/assets/css/news-detail.css`,
        js: `/assets/js/newsDetail.js`
      };
    _%>
    <%- include(localmeta.path + `components/_head`, {meta: localmeta, ogp: localogp, file: localfile}); _%>
    <%- include(localmeta.path + `_data/_news`); _%>
    <%_ newsData = news(); _%>
  </head>
  <body>
    <%- include(localmeta.path + `components/_googletagmanager`); _%>

    <div class="wrapper">
      <!-- prettier-ignore -->
      <%- include(localmeta.path + `components/_global-navigation`, {meta: localmeta}); _%>

      <main class="main">
        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_header`, {meta: localmeta}); _%>

        <div>
          <!-- prettier-ignore -->
          <%- include(localmeta.path + `components/_hero`, {meta: localmeta}); _%>

          <div class="content">
            <!-- prettier-ignore -->
            <%- include(localmeta.path + `components/news/post/_post`, {meta: localmeta, newsData: newsData}); _%>
          </div>
        </div>

        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_toggle`); _%>

        <%- include(localmeta.path + `components/_footer`); _%>
      </main>
    </div>
  </body>
</html>
