<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_news'); %>
  <%
  const localpage = {
    id: 'news',
    index: 15,
  };
  const localmeta = {
    title: 'OTO NO RAKUEN 出演決定 | SUSHIBOYS',
    description: 'OTO NO RAKUEN 2022.7.24（Sun.)15:20〜21:00 OPEN 15:20〜21:00',
    url: 'https://sushiboys350.com/news/post016/',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/news-detail.css',
    js: '/js/newsDetail.js'
  };
  const newsData = news();
  %>
  <%- include('../../_inc/_head', {page: localpage, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {page: localpage}); %>
    <main class="main">
      <%- include('../../_inc/components/_heading', {page: localpage}); %>
      <%- include('../../_inc/components/news/post/_post', {page: localpage, newsData: newsData}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
