<!doctype html>
<html lang="ja">
  <head>
    <!-- prettier-ignore -->
    <%_
      const localmeta = {
        title: `GOODS | SUSHIBOYS`,
        description: `SUSHIBOYSのグッズ一覧。グッズ購入・商品詳細ページへご案内いたします。`,
        url: `https://sushiboys350.com/goods/`,
        pageid: `goods`,
        path: `../../`
      };
      const localogp = {
        title: localmeta.title,
        description: localmeta.description,
        url: localmeta.url
      };
      const localfile = {
        css: `/assets/css/goods.css`,
        js: `/assets/js/goods.js`
      };
    _%>
    <%- include(localmeta.path + `components/_head`, {meta: localmeta, ogp: localogp, file: localfile}); _%>
    <%- include(localmeta.path + `_data/_goods`); _%>
    <%_ goodsData = goods(); _%>
  </head>
  <body>
    <%- include(localmeta.path + `components/_googletagmanager`); _%>

    <div class="wrapper">
      <!-- prettier-ignore -->
      <%- include(localmeta.path + `components/_global-navigation`, {meta: localmeta}); _%>

      <main class="main">
        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_header`, {meta: localmeta}); _%>

        <div>
          <!-- prettier-ignore -->
          <%- include(localmeta.path + `components/_hero`, {meta: localmeta}); _%>

          <div class="content">
            <!-- prettier-ignore -->
            <%- include(localmeta.path + `components/goods/_goods`, {goodsData: goodsData}); _%>
          </div>
        </div>

        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_toggle`); _%>

        <%- include(localmeta.path + `components/_footer`); _%>
      </main>
    </div>
  </body>
</html>
