<!doctype html>
<html lang="ja">
  <head>
    <!-- prettier-ignore -->
    <%_
      const localmeta = {
        title: `CONTACT | SUSHIBOYS`,
        description: `SUSHIBOYSの鼓膜に直接コンタクト。ご連絡おまちしております。`,
        url: `https://sushiboys350.com/contact/`,
        pageid: `contact`,
        path: `../`
      };
      const localogp = {
        title: localmeta.title,
        description: localmeta.description,
        url: localmeta.url
      };
      const localfile = {
        css: `/assets/css/contact.css`,
        js: `/assets/js/contact.js`
      };
    _%>
    <%- include(localmeta.path + `components/_head`, {meta: localmeta, ogp: localogp, file: localfile}); _%>
  </head>
  <body>
    <%- include(localmeta.path + `components/_googletagmanager`); _%>

    <div class="wrapper">
      <!-- prettier-ignore -->
      <%- include(localmeta.path + `components/_global-navigation`, {meta: localmeta}); _%>

      <main class="main">
        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_header`, {meta: localmeta}); _%>

        <div>
          <!-- prettier-ignore -->
          <%- include(localmeta.path + `components/_hero`, {meta: localmeta}); _%>

          <div class="content">
            <%- include(localmeta.path + `components/contact/_form`); _%>
          </div>
        </div>

        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_toggle`); _%>

        <%- include(localmeta.path + `components/_footer`); _%>
      </main>
    </div>
  </body>
</html>
