<section class="section">
  <div class="article">
    <% let eps = discographyData.farmhouseEps; %>
    <div class="article__inner">
      <p class="article__jacket">
        <img class="article__jacket-image" src="<%- eps[0].image %>" alt="<%- eps[0].alt %>">
      </p>
      <div class="article__caption">
        <h2 class="heading"><%- eps[0].title %></h2>
        <ul class="article__caption-list">
          <li class="article__caption-item">作品種別 : <%- eps[0].kind %></li>
          <li class="article__caption-item">発売日 : <%- eps[0].release %></li>
          <li class="article__caption-item">価格 : <%- eps[0].price %></li>
          <li class="article__caption-item">視聴：ご視聴は<a href="<%- eps[0].link %>" target="_blank" rel="noopener noreferrer">こちら</a>から</li>
        </ul>
        <h3 class="article__caption-heading">Song contents</h3>
        <ol class="article__caption-list article__caption-list--song">
          <% eps[0].songs.forEach(function(song) { %>
          <li class="article__caption-item">
            <%- song %>
          </li>
          <% }); %>
        </ol>
        <% if (!eps[0].bonusTracks[0].trim() == '') { %>
        <h3 class="article__caption-heading">Bonus track</h3>
        <ol class="article__caption-list article__caption-list--song">
          <% eps[0].bonusTracks.forEach(function(bonusTrack) { %>
          <li class="article__caption-item">
            <%- bonusTrack %>
          </li>
          <% }); %>
        </ol>
        <% } %>
      </div>
    </div>
  </div>
  <div class="button__wrap">
    <a class="button" href="/discography/">
      <span class="button__text">Back</span>
    </a>
  </div>
</section>
