<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_discography'); %>
  <%
  const localmeta = {
    title: 'ルーモス牧島 feat.SUSHIBOYS | SUSHIBOYS',
    description: 'ルーモス牧島 feat.SUSHIBOYS',
    url: 'https://sushiboys350.com/discography/feat/lumos-makishima.html',
    id: 'discography',
    index: 0,
    path: '../../'
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url
  };
  const localfile = {
    css: '/css/discography-detail.css',
    js: '/js/discographyDetail.js'
  };
  const discographyData = discography();
  %>
  <%- include(localmeta.path + '_inc/_head', {meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include(localmeta.path + '_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include(localmeta.path + '_inc/components/_header', {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + '_inc/components/_heading', {meta: localmeta}); %>
      <%- include(localmeta.path + '_inc/components/discography/feat/_feat', {meta: localmeta, discographyData: discographyData}); %>
    </main>
    <%- include(localmeta.path + '_inc/components/_footer'); %>
  </div>
</body>
</html>
