<!DOCTYPE html>
<html lang="ja">
<head>
  <%_
    const localmeta = {
      title: `SUSHIBOYSが長年の沈黙から目覚め新曲「木にしない」を配信開始 | SUSHIBOYS`,
      description: `SUSHIBOYSが長年の沈黙から目覚め新曲「木にしない」のリリースを宣言した。代人の「木」を言葉のノコギリで豪快に切り倒していく彼らの様は爽快の一言。`,
      url: `https://sushiboys350.com/news/post032/`,
      pageid: `news`,
      index: 32 - 1,
      path: `../../`
    };
    const localogp = {
      title: localmeta.title,
      description: localmeta.description,
      url: localmeta.url
    };
    const localfile = {
      css: `/css/news-detail.css`,
      js: `/js/newsDetail.js`
    };
  _%>
  <%- include(localmeta.path + `_inc/_head`, {meta: localmeta, ogp: localogp, file: localfile}); %>
  <%- include(localmeta.path + `_data/_news`); %>
  <%_ newsData = news(); _%>
</head>
<body>
  <%- include(localmeta.path + `_inc/components/_googletagmanager`); %>
  <div class="wrapper">
    <%- include(localmeta.path + `_inc/components/_header`, {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + `_inc/components/_heading`, {meta: localmeta}); %>
      <%- include(localmeta.path + `_inc/components/news/post/_post`, {meta: localmeta, newsData: newsData}); %>
    </main>
    <%- include(localmeta.path + '_inc/components/_toggle'); %>
    <%- include(localmeta.path + `_inc/components/_footer`); %>
  </div>
</body>
</html>