<!doctype html>
<html lang="ja">
  <head>
    <!-- prettier-ignore -->
    <%_
      const localmeta = {
        title: `🍙New Single おにぎり配信開始‼ SUSHIBOYSがおにぎりをテーマとした楽曲『おにぎり』を納品した。🍙 | SUSHIBOYS`,
        description: `SUSHIBOYSがおにぎりをテーマとした楽曲『おにぎり』を納品した。今作はおにぎりを多角的な視点から考察しており、新生活に不安を抱く若者への応援ソングとなっている。なおヤマザキ春のパン祭りとは一切関係はない。メンバーのfarmhouseはプロモーションのため自身の汗から抽出した塩で握ったおにぎりを食し体調不良でのレコーディングとなったが、それを感じさせない力強いバースを蹴り上げている。発泡スチロール製のおにぎりのようなものが坂道を下る映像は物流の2024年問題を風刺しているかのようだ。ソウルフルなビートに乗せられた彼らのメッセージ。その塩加減は絶妙だ。`,
        slug: 'https://sushiboys350.com/news/post063/',
        pageid: 'news',
        index: 63 - 1,
        path: '../../../'
      };
      const localogp = {
        title: localmeta.title,
        description: localmeta.description,
        url: localmeta.url
      };
      const localfile = {
        css: `/assets/css/news-detail.css`,
        js: `/assets/js/newsDetail.js`
      };
    _%>
    <%- include(localmeta.path + `components/_head`, {meta: localmeta, ogp: localogp, file: localfile}); _%>
    <%- include(localmeta.path + `_data/_news`); _%>
    <%_ newsData = news(); _%>
  </head>
  <body>
    <%- include(localmeta.path + `components/_googletagmanager`); _%>

    <div class="wrapper">
      <!-- prettier-ignore -->
      <%- include(localmeta.path + `components/_global-navigation`, {meta: localmeta}); _%>

      <main class="main">
        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_header`, {meta: localmeta}); _%>

        <div>
          <!-- prettier-ignore -->
          <%- include(localmeta.path + `components/_hero`, {meta: localmeta}); _%>

          <div class="content">
            <!-- prettier-ignore -->
            <%- include(localmeta.path + `components/news/post/_post`, {meta: localmeta, newsData: newsData}); _%>
          </div>
        </div>

        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_toggle`); _%>

        <%- include(localmeta.path + `components/_footer`); _%>
      </main>
    </div>
  </body>
</html>
