<!DOCTYPE html>
<html lang="ja">
<head>
  <%_
    const localmeta = {
      title: `2022/10/15.16 sea of green'22 出演決定 | SUSHIBOYS`,
      description: `sea of green'22. 10月15(土) -all night- 16(日) 会場：麻那姫湖青少年旅行村`,
      url: `https://sushiboys350.com/news/post019/`,
      pageid: `news`,
      index: 18,
      path: `../../`
    };
    const localogp = {
      title: localmeta.title,
      description: localmeta.description,
      url: localmeta.url
    };
    const localfile = {
      css: `/css/news-detail.css`,
      js: `/js/newsDetail.js`
    };
  _%>
  <%- include(localmeta.path + `_inc/_head`, {meta: localmeta, ogp: localogp, file: localfile}); %>
  <%- include(localmeta.path + `_data/_news`); %>
  <%_ newsData = news(); _%>
</head>
<body>
  <%- include(localmeta.path + `_inc/components/_googletagmanager`); %>
  <div class="wrapper">
    <%- include(localmeta.path + `_inc/components/_header`, {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + `_inc/components/_heading`, {meta: localmeta}); %>
      <%- include(localmeta.path + `_inc/components/news/post/_post`, {meta: localmeta, newsData: newsData}); %>
    </main>
    <%- include(localmeta.path + `_inc/components/_toggle`); %>
    <%- include(localmeta.path + `_inc/components/_footer`); %>
  </div>
</body>
</html>
