<!DOCTYPE html>
<html lang="ja">
<head>
  <%_
    const localmeta = {
      title: `ðŸ£2024.6.8ï¼ˆSat.)ã€ŽMIXIMAXã€å‡ºæ¼”æ±ºå®šðŸ£ | SUSHIBOYS`,
      description: `6æœˆ8æ—¥ï¼ˆåœŸï¼‰åŒ—æµ·é“ã«ã¦ã‚¤ãƒ™ãƒ³ãƒˆã€ŽMIXIMAXã€ã¸å‡ºæ¼”ã„ãŸã—ã¾ã™ðŸ£ åŒ—æµ·é“ã¯ã‹ãªã‚Šä¹…ã—ã¶ã‚Šãªã®ã§ãœã²ðŸ£`,
      url: 'https://sushiboys350.com/news/post057/',
      pageid: 'news',
      index: 57 - 1,
      path: '../../'
    };
    const localogp = {
      title: localmeta.title,
      description: localmeta.description,
      url: localmeta.url
    };
    const localfile = {
      css: '/css/news-detail.css',
      js: '/js/newsDetail.js'
    };
  _%>
  <%- include(localmeta.path + `_inc/_head`, {meta: localmeta, ogp: localogp, file: localfile}); %>
  <%- include(localmeta.path + `_data/_news`); %>
  <%_ newsData = news(); _%>
</head>
<body>
  <%- include(localmeta.path + `_inc/components/_googletagmanager`); %>
  <div
    id="wrapper"
    class="wrapper"
  >
    <%- include(localmeta.path + `_inc/components/_header`, {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + `_inc/components/_hero`, {meta: localmeta}); %>
      <div class="content">
        <%- include(localmeta.path + `_inc/components/news/post/_post`, {meta: localmeta, newsData: newsData}); %>
      </div>
    </main>
    <%- include(localmeta.path + '_inc/components/_toggle'); %>
    <%- include(localmeta.path + `_inc/components/_footer`); %>
  </div>
</body>
</html>
