<!DOCTYPE html>
<html lang="ja">
<head>
  <%
    const localmeta = {
      title: '8/17（Wed.)Mega Shinnosuke 『ハンサムなDANCE☆SHOW』出演決定 | SUSHIBOYS',
      description: 'Mega Shinnosuke 『ハンサムなDANCE☆SHOW』8/17（Wed.)東京LIQUIDROOMにて握りやす 8/13（Sat.）大阪味園ユニバース 8/17（Wed.)東京LIQUIDROOM',
      url: 'https://sushiboys350.com/news/post018/',
      pageid: 'news',
      index: 17,
      path: '../../'
    };
    const localogp = {
      title: localmeta.title,
      description: localmeta.description,
      url: localmeta.url
    };
    const localfile = {
      css: '/css/news-detail.css',
      js: '/js/newsDetail.js'
    };
  %>
  <%- include(localmeta.path + '_inc/_head', {meta: localmeta, ogp: localogp, file: localfile}); %>
  <%- include(localmeta.path + '_data/_news'); %>
  <% newsData = news(); %>
</head>
<body>
  <%- include(localmeta.path + '_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include(localmeta.path + '_inc/components/_header', {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + '_inc/components/_heading', {meta: localmeta}); %>
      <%- include(localmeta.path + '_inc/components/news/post/_post', {meta: localmeta, newsData: newsData}); %>
    </main>
    <%- include(localmeta.path + '_inc/components/_footer'); %>
  </div>
</body>
</html>
