<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_news'); %>
  <%
  const localpage = {
    id: 'news',
    primary: 'News',
    Secondary: 'お知らせ',
    index: 17,
  };
  const localmeta = {
    title: '8/17（Wed.)Mega Shinnosuke 『ハンサムなDANCE☆SHOW』出演決定 | SUSHIBOYS',
    description: 'Mega Shinnosuke 『ハンサムなDANCE☆SHOW』8/17（Wed.)東京LIQUIDROOMにて握りやす 8/13（Sat.）大阪味園ユニバース 8/17（Wed.)東京LIQUIDROOM',
    url: 'https://sushiboys350.com/news/post018/',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/news-detail.css',
    js: '/js/newsDetail.js'
  };
  const newsData = news();
  %>
  <%- include('../../_inc/_head', {page: localpage, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {page: localpage}); %>
    <main class="main">
      <%- include('../../_inc/components/_heading', {page: localpage}); %>
      <%- include('../../_inc/components/news/post/_post', {newsData: newsData, page: localpage}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
