<section class="section">
  <div class="discography-detail">
    <% let feats = discographyData.feats; %>
    <div class="discography-detail__item">
      <div class="discography-detail__thumbnail">
        <img class="discography-detail__thumbnail-image" src="<%- feats[1].image %>" alt="<%- feats[1].alt %>">
      </div>
      <div class="discography-detail__caption">
        <h2 class="title"><%- feats[1].title %></h2>
        <ul class="discography-detail__caption-list">
          <li class="discography-detail__caption-item">作品種別 : <%- feats[1].kind %></li>
          <li class="discography-detail__caption-item">発売日 : <%- feats[1].release %></li>
          <li class="discography-detail__caption-item">視聴：ご視聴は<a href="<%- feats[1].link %>" target="_blank" rel="noopener noreferrer">こちら</a>から</li>
        </ul>
        <h3 class="discography-detail__caption-heading">Song contents</h3>
        <ol class="discography-detail__caption-list discography-detail__caption-list--song">
          <% feats[1].songs.forEach(function(song) { %>
          <li class="discography-detail__caption-item">
            <%- song %>
          </li>
          <% }); %>
        </ol>
        <% if (!feats[1].bonusTracks[0].trim() == '') { %>
        <h3 class="discography-detail__caption-heading">Bonus track</h3>
        <ol class="discography-detail__caption-list discography-detail__caption-list--song">
          <% feats[1].bonusTracks.forEach(function(bonusTrack) { %>
          <li class="discography-detail__caption-item">
            <%- bonusTrack %>
          </li>
          <% }); %>
        </ol>
        <% } %>
      </div>
    </div>
  </div>
  <div class="button__wrap">
    <a class="button" href="/discography/">
      <span class="button__text">Back</span>
    </a>
  </div>
</section>
