<!doctype html>
<html lang="ja">
  <head>
    <!-- prettier-ignore -->
    <%_
      const localmeta = {
        title: `ðŸ£SUSHIBOYS ãƒ¯ãƒ³ãƒžãƒ³ãƒ©ã‚¤ãƒ– ã² TOUR é–‹å‚¬æ±ºå®šðŸ”¥ | SUSHIBOYS`,
        description: `ðŸ£SUSHIBOYS ãƒ¯ãƒ³ãƒžãƒ³ãƒ©ã‚¤ãƒ– ã² TOUR é–‹å‚¬æ±ºå®šðŸ”¥ ðŸ£ç¦å²¡ã€å¤§é˜ªã€æ±äº¬ã«ã¦ãƒ¯ãƒ³ãƒžãƒ³ãƒ©ã‚¤ãƒ–ã‚’é–‹å‚¬ã€åŠ ãˆã¦ãƒ„ã‚¢ãƒ¼ãƒ©ã‚¹ãƒˆã¯æ¯Žå¹´æ’ä¾‹ã¨ãªã‚‹åœ°å…ƒè¶Šç”Ÿã§ã®é‡Žå¤–ãƒ©ã‚¤ãƒ–ã‚’é–‹å‚¬ã€åœ°å…ƒè¶Šç”Ÿã§ã®é‡Žå¤–ãƒ©ã‚¤ãƒ–ã«å‘ã‘ã¦ã‚¯ãƒ©ã‚¦ãƒ‰ãƒ•ã‚¡ãƒ³ãƒ‡ã‚£ãƒ³ã‚°é–‹å§‹ðŸ”¥`,
        url: 'https://sushiboys350.com/news/post092/',
        pageid: 'news',
        index: 92 - 1,
        path: '../../../'
      };
      const localogp = {
        title: localmeta.title,
        description: localmeta.description,
        url: localmeta.url
      };
      const localfile = {
        css: `/assets/css/news-detail.css`,
        js: `/assets/js/newsDetail.js`
      };
    _%>
    <%- include(localmeta.path + `components/_head`, {meta: localmeta, ogp: localogp, file: localfile}); _%>
    <%- include(localmeta.path + `_data/_news`); _%>
    <%_ newsData = news(); _%>
  </head>
  <body>
    <%- include(localmeta.path + `components/_googletagmanager`); _%>

    <div class="wrapper">
      <!-- prettier-ignore -->
      <%- include(localmeta.path + `components/_global-navigation`, {meta: localmeta}); _%>

      <main class="main">
        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_header`, {meta: localmeta}); _%>

        <div>
          <!-- prettier-ignore -->
          <%- include(localmeta.path + `components/_hero`, {meta: localmeta}); _%>

          <div class="content">
            <!-- prettier-ignore -->
            <%- include(localmeta.path + `components/news/post/_post`, {meta: localmeta, newsData: newsData}); _%>
          </div>
        </div>

        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_toggle`); _%>

        <%- include(localmeta.path + `components/_footer`); _%>
      </main>
    </div>
  </body>
</html>
