<!DOCTYPE html>
<html lang="ja">
<head>
  <%_
    const localmeta = {
      title: `ChillCity 2023 Spring in 池袋PARCO 出演 | SUSHIBOYS`,
      description: ``,
      url: `https://sushiboys350.com/news/post030/`,
      pageid: `news`,
      index: 29,
      path: `../../`
    };
    const localogp = {
      title: localmeta.title,
      description: localmeta.description,
      url: localmeta.url
    };
    const localfile = {
      css: `/css/news-detail.css`,
      js: `/js/newsDetail.js`
    };
  _%>
  <%- include(localmeta.path + `_inc/_head`, {meta: localmeta, ogp: localogp, file: localfile}); %>
  <%- include(localmeta.path + `_data/_news`); %>
  <%_ newsData = news(); _%>
</head>
<body>
  <%- include(localmeta.path + `_inc/components/_googletagmanager`); %>
  <div
    id="wrapper"
    class="wrapper"
  >
    <%- include(localmeta.path + `_inc/components/_header`, {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + `_inc/components/_hero`, {meta: localmeta}); %>
      <div class="content">
        <%- include(localmeta.path + `_inc/components/news/post/_post`, {meta: localmeta, newsData: newsData}); %>
      </div>
    </main>
    <%- include(localmeta.path + '_inc/components/_toggle'); %>
    <%- include(localmeta.path + `_inc/components/_footer`); %>
  </div>
</body>
</html>
