<!DOCTYPE html>
<html lang="ja">
<head>
  <%_
    const localmeta = {
      title: 'CLUB L2 HIROSIMA出演決定 | SUSHIBOYS',
      description: '11/18（Sat.）CLUB L2 HIROSIMA出演決定 久しぶりの広島で握ります',
      url: `https://sushiboys350.com/news/post044/`,
      pageid: `news`,
      index: 44 - 1,
      path: `../../`
    };
    const localogp = {
      title: localmeta.title,
      description: localmeta.description,
      url: localmeta.url
    };
    const localfile = {
      css: `/css/news-detail.css`,
      js: `/js/newsDetail.js`
    };
  _%>
  <%- include(localmeta.path + `_inc/_head`, {meta: localmeta, ogp: localogp, file: localfile}); %>
  <%- include(localmeta.path + `_data/_news`); %>
  <%_ newsData = news(); _%>
</head>
<body>
  <%- include(localmeta.path + `_inc/components/_googletagmanager`); %>
  <div class="wrapper">
    <%- include(localmeta.path + `_inc/components/_global-navigation`, {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + `_inc/components/_header`, {meta: localmeta}); %>
      <div>
        <%- include(localmeta.path + `_inc/components/_hero`, {meta: localmeta}); %>
        <div class="content">
          <%- include(localmeta.path + `_inc/components/news/post/_post`, {meta: localmeta, newsData: newsData}); %>
        </div>
      </div>
      <%- include(localmeta.path + `_inc/components/_toggle`); %>
      <%- include(localmeta.path + `_inc/components/_footer`); %>
    </main>
  </div>
</body>
</html>
