<!doctype html>
<html lang="ja">
  <head>
    <!-- prettier-ignore -->
    <%_
      const localmeta = {
        title: 'NEWS | SUSHIBOYS',
        description: 'SUSHIBOYSニュース。ライブ出演、リリース情報、メディア掲載等の最新情報をご覧いただけます。',
        url: 'https://sushiboys350.com/news/',
        pageid: 'news',
        path: '../../'
      };
      const localogp = {
        title: localmeta.title,
        description: localmeta.description,
        url: localmeta.url
      };
      const localfile = {
        css: '/assets/css/news.css',
        js: '/assets/js/news.js'
      };
    _%>
    <%- include(localmeta.path + 'components/_head', {meta: localmeta, ogp: localogp, file: localfile}); _%>
    <%- include(localmeta.path + '_data/_news'); _%>
    <%_ newsData = news(); _%>
  </head>
  <body>
    <%- include(localmeta.path + 'components/_googletagmanager'); _%>

    <div class="wrapper">
      <!-- prettier-ignore -->
      <%- include(localmeta.path + `components/_global-navigation`, {meta: localmeta}); _%>

      <main class="main">
        <!-- prettier-ignore -->
        <%- include(localmeta.path + 'components/_header', {meta: localmeta}); _%>

        <div>
          <!-- prettier-ignore -->
          <%- include(localmeta.path + 'components/_hero', {meta: localmeta}); _%>

          <div class="content">
            <!-- prettier-ignore -->
            <%- include(localmeta.path + 'components/news/_news', {meta: localmeta, newsData: newsData}); _%>
          </div>
        </div>

        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_toggle`); _%>

        <%- include(localmeta.path + `components/_footer`); _%>
      </main>
    </div>
  </body>
</html>
