<!doctype html>
<html lang="ja">
  <head>
    <!-- prettier-ignore -->
    <%_
      const localmeta = {
        title: `I want a car | SUSHIBOYS`,
        description: `Sky Dive 1LDK DORANEKO マグナ50 PeroPeroCandy!! YANI`,
        url: `https://sushiboys350.com/discography/santena/ep/i-want-a-car.html`,
        pageid: `discography`,
        type: `santenaEp`,
        index: 0,
        path: `../../../`
      };
      const localogp = {
        title: localmeta.title,
        description: localmeta.description,
        url: localmeta.url
      };
      const localfile = {
        css: `/assets/css/discography-detail.css`,
        js: `/assets/js/discographyDetail.js`
      };
    _%>
    <%- include(localmeta.path + `components/_head`, {meta: localmeta, ogp: localogp, file: localfile}); _%>
    <%- include(localmeta.path + `../_data/_discography`); _%>
    <%_ discographyData = discography(); _%>
  </head>
  <body>
    <%- include(localmeta.path + `components/_googletagmanager`); _%>

    <div class="wrapper">
      <!-- prettier-ignore -->
      <%- include(localmeta.path + `components/_global-navigation`, {meta: localmeta}); _%>

      <main class="main">
        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_header`, {meta: localmeta}); _%>

        <div>
          <!-- prettier-ignore -->
          <%- include(localmeta.path + `components/_hero`, {meta: localmeta}); _%>

          <div class="content">
            <!-- prettier-ignore -->
            <%- include(localmeta.path + `components/discography/detail/_article`, {meta: localmeta, discographyData: discographyData}); _%>
          </div>
        </div>

        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_toggle`); _%>

        <%- include(localmeta.path + `components/_footer`); _%>
      </main>
    </div>
  </body>
</html>
