<!-- prettier-ignore -->
<%_
  const getDiscographyData = (type) => {
    let data = [];
    switch (type) {
      case 'ep':
        data = discographyData.eps;
        break;
      case 'farmhouseEp':
        data = discographyData.farmhouseEps;
        break;
      case 'farmhouseSingle':
        data = discographyData.farmhouseSingles;
        break;
      case 'feat':
        data = discographyData.feats;
        break;
      case 'record':
        data = discographyData.records;
        break;
      case 'santenaEp':
        data = discographyData.santenaEps;
        break;
      case 'single':
        data = discographyData.singles;
        break;
      default:
        data = [];
    }
    return data.reverse();
  }

  const reverseData = getDiscographyData(meta.type);
_%>

<section class="section">
  <div class="section__inner">
    <article class="article">
      <h3 class="article__title"
        ><%- reverseData?.[meta.index]?.title || 'タイトルがありません' %></h3
      >

      <figure class="article__eyecatch">
        <img
          class="article__eyecatch-image"
          src="<%- reverseData?.[meta.index]?.image || '/img/no-image.png' %>"
          alt="<%- reverseData?.[meta.index]?.alt || '' %>"
        />
      </figure>

      <div class="article__body">
        <ul class="article__caption-list">
          <li class="article__caption-item">
            作品種別：<%- reverseData?.[meta.index]?.type || '未定' %>
          </li>
          <li class="article__caption-item">
            発売日：<%- reverseData?.[meta.index]?.release || '未定' %>
          </li>
          <li class="article__caption-item">
            価格：<%- reverseData?.[meta.index]?.price?.trim() || '未定' %>
          </li>
          <li class="article__caption-item">
            <%_ const link = reverseData?.[meta.index]?.link?.trim(); _%>
            <!-- prettier-ignore -->
            <%_ if (link) { _%>
            視聴：<a
              href="<%- link %>"
              target="_blank"
              rel="noopener noreferrer"
              >ご視聴・ご購入はこちらから</a
            >
            <!-- prettier-ignore -->
            <%_ } else { _%>
            視聴：リンクがありません
            <%_ } _%>
          </li>
        </ul>

        <h3 class="article__caption-heading">Song contents</h3>
        <!-- prettier-ignore -->
        <%_
          const songs = reverseData?.[meta.index]?.songs || [];
          const hasSongs = songs.length > 0;
        _%>
        <%_ if (hasSongs) { _%>
        <ol class="article__caption-list article__caption-list--song">
          <%_ songs.forEach((song) => { _%>
          <li class="article__caption-item"><%- song %></li>
          <%_ }); _%>
        </ol>
        <%_ } else { _%>
        <p>楽曲がありません</p>
        <%_ } _%>

        <!-- prettier-ignore -->
        <%_
          const bonusTracks = reverseData?.[meta.index]?.bonusTracks || [];
          const hasBonusTracks = bonusTracks.length > 0 && bonusTracks[0].trim();
        _%>
        <%_ if (hasBonusTracks) { _%>
        <h3 class="article__caption-heading">Bonus track</h3>
        <ol class="article__caption-list article__caption-list--song">
          <%_ bonusTracks.forEach((bonusTrack) => { _%>
          <li class="article__caption-item"><%- bonusTrack %></li>
          <%_ }); _%>
        </ol>
        <%_ } _%>
      </div>

      <div class="article__button">
        <a
          class="button button--back"
          href="/discography/"
          >Back</a
        >
      </div>
    </article>
  </div>
</section>
