<%_
  let data = {};
  let reverseData = {};

  switch (meta.type) {
    case 'ep':
      data = discographyData.eps;
      reverseData = data.reverse();
      break;
    case 'farmhouseEp':
      data = discographyData.farmhouseEps;
      reverseData = data.reverse();
      break;
    case 'farmhouseSingle':
      data = discographyData.farmhouseSingles;
      reverseData = data.reverse();
      break;
    case 'feat':
      data = discographyData.feats;
      reverseData = data.reverse();
      break;
    case 'record':
      data = discographyData.records;
      reverseData = data.reverse();
      break;
    case 'santenaEp':
      data = discographyData.santenaEps;
      reverseData = data.reverse();
      break;
    case 'single':
      data = discographyData.singles;
      reverseData = data.reverse();
      break;
  }
_%>

<section class="section">
  <div class="section__inner">
    <article class="article">
      <h3 class="article__title"><%- reverseData?.[meta.index]?.title || "タイトルがありません" %></h3>

      <figure class="article__eyecatch">
        <img
          class="article__eyecatch-image"
          src="<%- reverseData?.[meta.index]?.image || '/img/no-img.png' %>"
          alt="<%- reverseData?.[meta.index]?.alt || '画像がありません' %>"
        >
      </figure>

      <div class="article__body">
        <ul class="article__caption-list">
          <li class="article__caption-item">作品種別：<%- reverseData[meta.index].type %></li>
          <li class="article__caption-item">発売日：<%- reverseData[meta.index].release %></li>

          <%_ if (!reverseData[meta.index].price.trim() === false) { _%>
          <li class="article__caption-item">価格：<%- reverseData[meta.index].price %></li>
          <%_ } _%>

          <li class="article__caption-item">
            視聴：ご視聴・ご購入は<a
              href="<%- reverseData[meta.index].link %>"
              target="_blank"
              rel="noopener noreferrer"
              >こちら</a
            >から
          </li>
        </ul>

        <h3 class="article__caption-heading">Song contents</h3>
        <ol class="article__caption-list article__caption-list--song">
          <%_ reverseData[meta.index].songs.forEach((song) => { _%>
          <li class="article__caption-item">
            <%- song %>
          </li>
          <%_ }); _%>
        </ol>

        <%_ if (!reverseData[meta.index].bonusTracks[0].trim() === false) { _%>
        <h3 class="article__caption-heading">Bonus track</h3>
        <ol class="article__caption-list article__caption-list--song">
          <%_ reverseData[meta.index].bonusTracks.forEach((bonusTrack) => { _%>
          <li class="article__caption-item">
            <%- bonusTrack %>
          </li>
          <%_ }); _%>
        </ol>
        <%_ } _%>
      </div>

      <div class="article__button">
        <a
          class="button button--back"
          href="/discography/"
          >Back</a
        >
      </div>
    </article>
  </div>
</section>
