<!doctype html>
<html lang="ja">
  <head>
    <!-- prettier-ignore -->
    <%_
      const localmeta = {
        title: `BAYCAMP202502 å‡ºæ¼”æ±ºå®šï¼†å‡ºæ¼”ã‚¢ãƒ¼ãƒ†ã‚£ã‚¹ãƒˆç¬¬ï¼‘å¼¾è§£ç¦ ðŸ£ | SUSHIBOYS`,
        description: `ðŸ£2025å¹´2æœˆ1æ—¥ï¼ˆåœŸï¼‰ BAYCAMP202502 å‡ºæ¼”æ±ºå®šï¼†å‡ºæ¼”ã‚¢ãƒ¼ãƒ†ã‚£ã‚¹ãƒˆç¬¬ï¼‘å¼¾è§£ç¦ðŸ£`,
        url: 'https://sushiboys350.com/news/post081/',
        pageid: 'news',
        index: 81 - 1,
        path: '../../'
      };
      const localogp = {
        title: localmeta.title,
        description: localmeta.description,
        url: localmeta.url
      };
      const localfile = {
        css: `/assets/css/news-detail.css`,
        js: `/assets/js/newsDetail.js`
      };
    _%>
    <%- include(localmeta.path + `components/_head`, {meta: localmeta, ogp: localogp, file: localfile}); _%>
    <%- include(localmeta.path + `../_data/_news`); _%>
    <%_ newsData = news(); _%>
  </head>
  <body>
    <%- include(localmeta.path + `components/_googletagmanager`); _%>

    <div class="wrapper">
      <!-- prettier-ignore -->
      <%- include(localmeta.path + `components/_global-navigation`, {meta: localmeta}); _%>

      <main class="main">
        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_header`, {meta: localmeta}); _%>

        <div>
          <!-- prettier-ignore -->
          <%- include(localmeta.path + `components/_hero`, {meta: localmeta}); _%>

          <div class="content">
            <!-- prettier-ignore -->
            <%- include(localmeta.path + `components/news/post/_post`, {meta: localmeta, newsData: newsData}); _%>
          </div>
        </div>

        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_toggle`); _%>

        <%- include(localmeta.path + `components/_footer`); _%>
      </main>
    </div>
  </body>
</html>
