<!-- prettier-ignore -->
<%_ const renderCarouselSection = (id, heading, items) => { _%>
<section class="section">
  <div class="section__inner">
    <h3 class="section__heading section__heading--en"><%= heading %></h3>

    <div
      id="<%= id %>"
      class="carousel swiper"
    >
      <ul class="carousel__list swiper-wrapper">
        <!-- prettier-ignore -->
        <%_ items.forEach((item) => { _%>
        <li class="carousel__card swiper-slide">
          <a href="<%- item?.url || '#' %>">
            <img
              class="carousel__image"
              src="<%- item?.image || '/assets/img/no-image.png' %>"
              alt="<%- item?.alt || 'No image' %>"
            />
          </a>
        </li>
        <%_ }); _%>
      </ul>
    </div>
  </div>
</section>
<%_ } _%>

<!-- prettier-ignore -->
<%_
  renderCarouselSection("swiper-ep", "EP", discographyData?.eps || []);
  renderCarouselSection("swiper-single", "Single", discographyData?.singles || []);
  renderCarouselSection("swiper-feat", "feat.", discographyData?.feats || []);
  renderCarouselSection("swiper-record", "Record", discographyData?.records || []);
  renderCarouselSection("swiper-farmhouse-ep", "FARMHOUSE EP", discographyData?.farmhouseEps || []);
  renderCarouselSection("swiper-santena-ep", "SANTENA EP", discographyData?.santenaEps || []);
  renderCarouselSection("swiper-farmhouse-single", "FARMHOUSE Single", discographyData?.farmhouseSingles || []);
_%>
