<!DOCTYPE html>
<html lang="ja">
<head>
  <%_
    const localmeta = {
      title: `SUSHIBOYS`,
      description: `SUSHIBOYSオフィシャルウェブサイト。メンバーはFARMHOUSE、サンテナ、DJ兼カメラマン兼マネージャー兼運転手兼スーパーバイザーのneo yosikawa。寿司ボーイズのライブ、ディスコグラフィ、グッズなどの最新情報を掲載しています。`,
      url: `https://sushiboys350.com/`,
      pageid: `home`,
      path: `./`
    };
    const localogp = {
      title: localmeta.title,
      description: localmeta.description,
      url: localmeta.url
    };
    const localfile = {
      css: `/css/home.css`,
      js: `/js/home.js`
    };
  _%>
  <%- include(localmeta.path + `_inc/_head`, {meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include(localmeta.path + `_inc/components/_googletagmanager`); %>
  <div class="wrapper">
    <%- include(localmeta.path + `_inc/components/_global-navigation`, {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + `_inc/components/_header`, {meta: localmeta}); %>
      <div>
        <%- include(localmeta.path + `_inc/components/_hero`, {meta: localmeta}); %>
        <div class="content">
          <%- include(localmeta.path + '_inc/components/home/_biography'); %>
        </div>
      </div>
      <%- include(localmeta.path + `_inc/components/_toggle`); %>
      <%- include(localmeta.path + `_inc/components/_footer`); %>
    </main>
  </div>
</body>
</html>
