<!-- prettier-ignore -->
<%_
  const data = {
    contents: {
      menu: [
        {
          label: 'Home',
          href: '/',
        },
        {
          label: 'Biography',
          href: '/biography/',
        },
        {
          label: 'News',
          href: '/news/',
        },
        {
          label: 'Discography',
          href: '/discography/',
        },
        {
          label: 'Goods',
          href: '/goods/',
        },
        {
          label: 'Picture',
          href: '/picture/look/summer-vacation/',
        },
        {
          label: 'Contact',
          href: '/contact/',
        },
      ],
      sns: [
        {
          name: 'Facebook',
          href: 'https://www.facebook.com/people/Sushiboys/100057913514913/',
          icon: 'fab fa-facebook',
        },
        {
          name: 'Twitter',
          href: 'https://twitter.com/sushiboys350',
          icon: 'fab fa-twitter',
        },
        {
          name: 'Instagram',
          href: 'https://www.instagram.com/sushiboys350',
          icon: 'fab fa-instagram',
        },
        {
          name: 'TikTok',
          href: 'https://www.tiktok.com/@sushiboys350',
          icon: 'fa-brands fa-tiktok',
        },
        {
          name: 'YouTube',
          href: 'https://www.youtube.com/user/umetube2013',
          icon: 'fab fa-youtube',
        },
      ],
    },
  };
_%>
<input id="toggle-trigger" class="toggle-checkbox" type="checkbox" />
<label class="toggle-button" for="toggle-trigger">
  <span class="toggle-button__bar"></span>
  <span class="sr-only">メニュー</span>
</label>

<nav class="toggle-menu">
  <ul class="toggle-menu__list">
    <%_ data.contents.menu.forEach((item) => { _%>
    <li class="toggle-menu__item">
      <a class="toggle-menu__anchor" href="<%= item.href %>">
        <%= item.label %>
      </a>
    </li>
    <%_ }); _%>
  </ul>

  <ul class="toggle-sns">
    <%_ data.contents.sns.forEach((sns) => { _%>
    <li class="toggle-sns__item">
      <a
        class="toggle-sns__link"
        href="<%= sns.href %>"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="<%= sns.name %>"
      >
        <i class="<%= sns.icon %>"></i>
      </a>
    </li>
    <%_ }); _%>
  </ul>
</nav>
