<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_discography'); %>
  <%
  const pageid = 'discography';
  const localmeta = {
    title: '350 | SUSHIBOYS',
    description: 'Shopping Cart Racer 味の素 Drivin 8月32日 遊戯王 USB',
    url: 'https://sushiboys350.com/discography/ep/350.html',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/discography-detail.css',
    js: '/js/discographyDetail.js'
  };
  const discographyData = discography();
  %>
  <%- include('../../_inc/_head', {pageid: pageid, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {current: 'discography'}); %>
    <main class="main">
      <%- include('../../_inc/components/discography/ep/_350', {discographyData: discographyData}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
