<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_discography'); %>
  <%
  let localmeta = {
    title: 'DISCOGRAPHY 350 | SUSHIBOYS',
    description: ''
  };
  let localfile = {
    css: '/css/discography-detail.css',
    js: '/js/discographyDetail.js'
  };
  let discographyData = discography();
  %>
  <%- include('../../_inc/_head', {meta: localmeta, file: localfile}); %>
</head>
<body>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {current: 'discography'}); %>
    <main class="main">
      <%- include('../../_inc/components/discography/ep/_350', {discographyData: discographyData}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
