<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_discography'); %>
  <%
  const localpage = {
    id: 'discography',
    index: 1,
  };
  const localmeta = {
    title: 'WASABI | SUSHIBOYS',
    description: 'KUNG FU アヒルボート ゲートボーラー 旅に出よう 問題ねぇ ママチャリ remix',
    url: 'https://sushiboys350.com/discography/ep/wasabi.html',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/discography-detail.css',
    js: '/js/discographyDetail.js'
  };
  const discographyData = discography();
  %>
  <%- include('../../_inc/_head', {page: localpage, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {page: localpage}); %>
    <main class="main">
      <%- include('../../_inc/components/_heading', {page: localpage}); %>
      <%- include('../../_inc/components/discography/ep/_ep', {page: localpage, discographyData: discographyData}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
