<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_news'); %>
  <%
  const localpage = {
    id: 'news',
    index: 10,
  };
  const localmeta = {
    title: 'SYNCHRONICITY’22 出演決定 | SUSHIBOYS',
    description: '『SYNCHRONICITY’22』開催日時：2022年4月2日(土) 2022年4月3日(日) openstart 13:00 開催場所：Spotify O-EAST, Spotify O-WEST, Spotify O-nest, duo MUSIC EXCHANGE, clubasia',
    url: 'https://sushiboys350.com/news/post011/',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/news-detail.css',
    js: '/js/newsDetail.js'
  };
  const newsData = news();
  %>
  <%- include('../../_inc/_head', {page: localpage, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {page: localpage}); %>
    <main class="main">
      <%- include('../../_inc/components/_heading', {page: localpage}); %>
      <%- include('../../_inc/components/news/post/_post', {page: localpage, newsData: newsData}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
