<section class="section">
  <div class="section__inner">
    <article class="article">
      <%
      const posts = newsData.posts;
      const reversePosts = posts.reverse();
      %>
      <% if (reversePosts[meta.index].hero.image !== '') { %>
      <figure class="article__hero">
        <img class="article__hero-image" src="<%- reversePosts[meta.index].hero.image %>" alt="<%- reversePosts[meta.index].hero.alt %>">
      </figure>
      <% } %>
      <div class="article__inner">
        <h3 class="article__title"><%- reversePosts[meta.index].title %></h3>
        <div class="article__body">
          <% reversePosts[meta.index].leads.forEach(lead => { %>
          <p class="text"><%- lead %></p>
          <% }); %>
          <% if (reversePosts[meta.index].photos.length !== 0) { %>
          <% reversePosts[meta.index].photos.forEach(photo => { %>
          <figure class="article__image-wrap">
            <img class="article__image" src="<%- photo.image %>" alt="<%- photo.alt %>">
          </figure>
          <% }); %>
          <% } %>
        </div>
      </div>
    </article>
    <div class="button__wrap">
      <a class="button" href="/news/">
        <span class="button__text">Back</span>
      </a>
    </div>
  </div>
</section>
