<section class="section">
  <div class="section__inner">
    <article class="article">
      <%_
        const posts = newsData.posts;
        const reversePosts = posts.reverse();
      _%>
      <%_ if (reversePosts[meta.index].hero.image !== '') { _%>
      <figure class="article__hero">
        <img
          class="article__hero-image"
          src="<%- reversePosts[meta.index].hero.image %>"
          alt="<%- reversePosts[meta.index].hero.alt %>"
        >
      </figure>
      <%_ } _%>
      <div class="article__inner">
        <h3 class="article__title"><%- reversePosts[meta.index].title %></h3>
        <div class="article__body">
          <%_ reversePosts[meta.index].leads.forEach(lead => { _%>
          <p class="text"><%- lead %></p>
          <%_ }); _%>
          <%_ if (reversePosts[meta.index].photos.length !== 0) { _%>
          <%_ reversePosts[meta.index].photos.forEach(photo => { _%>
          <figure class="article__image-wrap">
            <img
              class="article__image"
              src="<%- photo.image %>"
              alt="<%- photo.alt %>"
            >
          </figure>
          <%_ }); _%>
          <%_ } _%>
        </div>
      </div>
    </article>
    <div class="button__wrap">
      <a
        class="button"
        href="/news/"
        ><span class="button__text">Back</span></a
      >
    </div>
  </div>
</section>
