<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../_data/_discography'); %>
  <%
  const localpage = {
    id: 'discography',
    primary: 'Discography',
    secondary: '楽曲',
  };
  const localmeta = {
    title: 'DISCOGRAPHY | SUSHIBOYS',
    description: 'SUSHIBOYSが世に送り出した楽曲情報を余すことなくお届けいたします。ぜひご視聴ください。',
    url: 'https://sushiboys350.com/discography/',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/discography.css',
    js: '/js/discography.js'
  };
  const discographyData = discography();
  %>
  <%- include('../_inc/_head', {page: localpage, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../_inc/components/_header', {page: localpage}); %>
    <main class="main">
      <%- include('../_inc/components/_heading', {page: localpage}); %>
      <%- include('../_inc/components/discography/_discography', {discographyData: discographyData}); %>
    </main>
    <%- include('../_inc/components/_footer'); %>
  </div>
</body>
</html>
