<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../_data/_discography'); %>
  <%
  const pageid = 'discography';
  const localmeta = {
    title: 'DISCOGRAPHY | SUSHIBOYS',
    description: 'SUSHIBOYSが世に送り出した楽曲情報を余すことなくお届けいたします。ぜひご視聴ください。',
    url: 'https://sushiboys350.com/discography/',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/discography.css',
    js: '/js/discography.js'
  };
  const discographyData = discography();
  %>
  <%- include('../_inc/_head', {pageid: pageid, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../_inc/components/_header', {current: 'discography'}); %>
    <main class="main">
      <%- include('../_inc/components/_heading', {currentPrimary: 'Discography', currentSecondary: '楽曲'}); %>
      <%- include('../_inc/components/discography/_discography', {discographyData: discographyData}); %>
    </main>
    <%- include('../_inc/components/_footer'); %>
  </div>
</body>
</html>
