<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../_data/_discography') %>
  <%
  let localmeta = {
    title: 'DISCOGRAPHY | SUSHIBOYS',
    description: ''
  };
  let localfile = {
    css: '/css/discography.css',
    js: '/js/discography.js'
  };
  let discographyData = discography();
  %>
  <%- include('../_inc/_head', {meta: localmeta, file: localfile}) %>
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <%- include('../_inc/components/_header', {current: 'discography'}) %>
      <main class="main">
        <%- include('../_inc/components/discography/_album', {discographyData: discographyData}) %>
      </main>
      <%- include('../_inc/components/_footer') %>
    </div>
  </div>
</body>
</html>
