<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../_data/_discography'); %>
  <%
  let localmeta = {
    title: 'DISCOGRAPHY | SUSHIBOYS',
    description: 'SUSHIBOYSが世に送り出した楽曲情報を余すことなくお届けいたします。ぜひご視聴ください。',
    url: 'https://sushiboys350.com/discography/',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  let localfile = {
    css: '/css/discography.css',
    js: '/js/discography.js'
  };
  let discographyData = discography();
  %>
  <%- include('../_inc/_head', {meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../_inc/components/_header', {current: 'discography'}); %>
    <main class="main">
      <%- include('../_inc/components/discography/_discography', {discographyData: discographyData}); %>
    </main>
    <%- include('../_inc/components/_footer'); %>
  </div>

  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script>
    const swiperEp = new Swiper('#swiper-ep', {
      loop: false,
      slidesPerView: 'auto',
      spaceBetween: 20,
    });

    const swiperSingle = new Swiper('#swiper-single', {
      loop: false,
      slidesPerView: 'auto',
      spaceBetween: 20,
    });

    const swiperFeat = new Swiper('#swiper-feat', {
      loop: false,
      slidesPerView: 'auto',
      spaceBetween: 20,
    });

    const swiperRecord = new Swiper('#swiper-record', {
      loop: false,
      slidesPerView: 'auto',
      spaceBetween: 20,
    });

    const swiperFarmhouseEp = new Swiper('#swiper-farmhouse-ep', {
      loop: false,
      slidesPerView: 'auto',
      spaceBetween: 20,
    });

    const swiperFarmhouseSingle = new Swiper('#swiper-farmhouse-single', {
      loop: false,
      slidesPerView: 'auto',
      spaceBetween: 20,
    });
  </script>
</body>
</html>
