<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../_data/_discography'); %>
  <%
  const localmeta = {
    title: 'DISCOGRAPHY | SUSHIBOYS',
    description: 'SUSHIBOYSが世に送り出した楽曲情報を余すことなくお届けいたします。ぜひご視聴ください。',
    url: 'https://sushiboys350.com/discography/',
    pageid: 'discography',
    path: '../'
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url
  };
  const localfile = {
    css: '/css/discography.css',
    js: '/js/discography.js'
  };
  const discographyData = discography();
  %>
  <%- include(localmeta.path + '_inc/_head', {meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include(localmeta.path + '_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include(localmeta.path + '_inc/components/_header', {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + '_inc/components/_heading', {meta: localmeta}); %>
      <%- include(localmeta.path + '_inc/components/discography/_discography', {discographyData: discographyData}); %>
    </main>
    <%- include(localmeta.path + '_inc/components/_footer'); %>
  </div>
</body>
</html>
