<section class="section">
  <div class="album">
    <ul>
      <% let albums = discographyData.albums; %>
      <% albums.forEach(function(album) { %>
      <li class="album__item">
        <div class="album__thumbnail">
          <img class="album__thumbnail-image" src="<%- album.image %>" alt="<%- album.alt %>">
        </div>
        <div class="album__caption">
          <h2 class="album__caption-title"><%- album.title %></h2>
          <ul class="album__caption-list">
            <li class="album__caption-item">作品種別 : <%- album.kind %></li>
            <li class="album__caption-item">発売日 : <%- album.release %></li>
            <li class="album__caption-item">価格 : <%- album.price %></li>
          </ul>
          <ol class="album__caption-list">
            <% album.songs.forEach(function(song) { %>
            <li class="album__caption-item">
              <%- song %>
            </li>
            <% }); %>
          </ol>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>
</section>
