<section class="section">
  <div class="section__inner">
    <h3 class="heading heading--secondary heading--en">EP</h3>
    <div
      id="swiper-ep"
      class="carousel"
    >
      <ul class="swiper-wrapper carousel__list">
        <%_ const eps = discographyData.eps; _%>
        <%_ eps.forEach(function(ep) { _%>
        <li class="swiper-slide carousel__card">
          <a href="<%- ep.url %>">
            <img
              class="carousel__image"
              src="<%- ep.image %>"
              alt="<%- ep.alt %>"
            >
          </a>
        </li>
        <%_ }); _%>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <h3 class="heading heading--secondary heading--en">Single</h3>
    <div
      id="swiper-single"
      class="carousel"
    >
      <ul class="swiper-wrapper carousel__list">
        <%_ const singles = discographyData.singles; _%>
        <%_ singles.forEach(function(single) { _%>
        <li class="swiper-slide carousel__card">
          <a href="<%- single.url %>">
            <img
              class="carousel__image"
              src="<%- single.image %>"
              alt="<%- single.alt %>"
            >
          </a>
        </li>
        <%_ }); _%>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <h3 class="heading heading--secondary heading--en">feat.</h3>
    <div
      id="swiper-feat"
      class="carousel"
    >
      <ul class="swiper-wrapper carousel__list">
        <%_ const feats = discographyData.feats; _%>
        <%_ feats.forEach(function(feat) { _%>
        <li class="swiper-slide carousel__card">
          <a href="<%- feat.url %>">
            <img
              class="carousel__image"
              src="<%- feat.image %>"
              alt="<%- feat.alt %>"
            >
          </a>
        </li>
        <%_ }); _%>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <h3 class="heading heading--secondary heading--en">Record</h3>
    <div
      id="swiper-record"
      class="carousel"
    >
      <ul class="swiper-wrapper carousel__list">
        <%_ const records = discographyData.records; _%>
        <%_ records.forEach(function(record) { _%>
        <li class="swiper-slide carousel__card">
          <a href="<%- record.url %>">
            <img
              class="carousel__image"
              src="<%- record.image %>"
              alt="<%- record.alt %>"
            >
          </a>
        </li>
        <%_ }); _%>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <h3 class="heading heading--secondary heading--en">FARMHOUSE EP</h3>
    <div
      id="swiper-farmhouse-ep"
      class="carousel"
    >
      <ul class="swiper-wrapper carousel__list">
        <%_ const farmhouseEps = discographyData.farmhouseEps; _%>
        <%_ farmhouseEps.forEach(function(farmhouseEp) { _%>
        <li class="swiper-slide carousel__card">
          <a href="<%- farmhouseEp.url %>">
            <img
              class="carousel__image"
              src="<%- farmhouseEp.image %>"
              alt="<%- farmhouseEp.alt %>"
            >
          </a>
        </li>
        <%_ }); _%>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <h3 class="heading heading--secondary heading--en">SANTENA EP</h3>
    <div
      id="swiper-santena-ep"
      class="carousel"
    >
      <ul class="swiper-wrapper carousel__list">
        <%_ const santenaEps = discographyData.santenaEps; _%>
        <%_ santenaEps.forEach(function(santenaEp) { _%>
        <li class="swiper-slide carousel__card">
          <a href="<%- santenaEp.url %>">
            <img
              class="carousel__image"
              src="<%- santenaEp.image %>"
              alt="<%- santenaEp.alt %>"
            >
          </a>
        </li>
        <%_ }); _%>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <h3 class="heading heading--secondary heading--en">FARMHOUSE Single</h3>
    <div
      id="swiper-farmhouse-single"
      class="carousel"
    >
      <ul class="swiper-wrapper carousel__list">
        <%_ const farmhouseSingles = discographyData.farmhouseSingles; _%>
        <%_ farmhouseSingles.forEach(function(farmhouseSingle) { _%>
        <li class="swiper-slide carousel__card">
          <a href="<%- farmhouseSingle.url %>">
            <img
              class="carousel__image"
              src="<%- farmhouseSingle.image %>"
              alt="<%- farmhouseSingle.alt %>"
            >
          </a>
        </li>
        <%_ }); _%>
      </ul>
    </div>
  </div>
</section>
