<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../../_data/_discography'); %>
  <%
  const localpage = {
    id: 'discography',
    index: 2,
  };
  const localmeta = {
    title: '東京フラットシート | SUSHIBOYS',
    description: '東京フラットシート',
    url: 'https://sushiboys350.com/discography/farmhouse/single/tokyo-flat-seat.html',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/discography-detail.css',
    js: '/js/discographyDetail.js'
  };
  const discographyData = discography();
  %>
  <%- include('../../../_inc/_head', {page: localpage, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../../_inc/components/_header', {page: localpage}); %>
    <main class="main">
      <%- include('../../../_inc/components/_heading', {page: localpage}); %>
      <%- include('../../../_inc/components/discography/farmhouse/single/_single', {page: localpage, discographyData: discographyData}); %>
    </main>
    <%- include('../../../_inc/components/_footer'); %>
  </div>
</body>
</html>
