<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../../_data/_discography'); %>
  <%
  const pageid = 'discography';
  const localmeta = {
    title: '東京フラットシート | SUSHIBOYS',
    description: '東京フラットシート',
    url: 'https://sushiboys350.com/discography/farmhouse/single/tokyo-flat-seat.html',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/discography-detail.css',
    js: '/js/discographyDetail.js'
  };
  const discographyData = discography();
  %>
  <%- include('../../../_inc/_head', {pageid: pageid, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../../_inc/components/_header', {current: 'discography'}); %>
    <main class="main">
      <%- include('../../../_inc/components/_heading', {currentPrimary: 'Discography', currentSecondary: '楽曲'}); %>
      <%- include('../../../_inc/components/discography/farmhouse/single/_single', {discographyData: discographyData, index: 2}); %>
    </main>
    <%- include('../../../_inc/components/_footer'); %>
  </div>
</body>
</html>
