<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../../_data/_discography'); %>
  <%
  let localmeta = {
    title: '東京フラットシート | SUSHIBOYS',
    description: '東京フラットシート',
    url: 'https://sushiboys350.com/discography/farmhouse/single/tokyo-flat-seat.html',
  };
  let localfile = {
    css: '/css/discography-detail.css',
    js: '/js/discographyDetail.js'
  };
  let discographyData = discography();
  %>
  <%- include('../../../_inc/_head', {meta: localmeta, file: localfile}); %>
</head>
<body>
  <%- include('../../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../../_inc/components/_header', {current: 'discography'}); %>
    <main class="main">
      <%- include('../../../_inc/components/discography/farmhouse/single/_tokyo-flat-seat', {discographyData: discographyData}); %>
    </main>
    <%- include('../../../_inc/components/_footer'); %>
  </div>
</body>
</html>
