<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- prettier-ignore -->
    <%_
      const localmeta = {
        title: 'ã€ŒBeyond magazineã€ã®ãƒ™ã‚¹ãƒˆãƒã‚¤2023CRASH BAGGAGEï¼ˆã‚¯ãƒ©ãƒƒã‚·ãƒ¥ãƒã‚²ãƒ¼ã‚¸ï¼‰ã«ã¤ã„ã¦èªžã‚Šã‚„ã—ãŸðŸ£ðŸ§³ | SUSHIBOYS',
        description: 'ðŸ£WEBãƒžã‚¬ã‚¸ãƒ³ã€ŒBeyond magazineã€ã®ã€Œãƒ™ã‚¹ãƒˆãƒã‚¤2023ã€ã«ã¦SUSHIBOYSãŒãŠå‡ºã‹ã‘ã«ä½¿ã£ã¦ã„ã‚‹ã€CRASH BAGGAGEï¼ˆã‚¯ãƒ©ãƒƒã‚·ãƒ¥ãƒã‚²ãƒ¼ã‚¸ï¼‰ã«ã¤ã„ã¦èªžã‚Šã‚„ã—ãŸðŸ£ðŸ•ðŸ§³',
        url: 'https://sushiboys350.com/news/post053/',
        pageid: 'news',
        index: 53 - 1,
        path: '../../../'
      };
      const localogp = {
        title: localmeta.title,
        description: localmeta.description,
        url: localmeta.url
      };
      const localfile = {
        css: `/assets/css/news-detail.css`,
        js: `/assets/js/newsDetail.js`
      };
    _%>
    <%- include(localmeta.path + `components/_head`, {meta: localmeta, ogp: localogp, file: localfile}); _%>
    <%- include(localmeta.path + `_data/_news`); _%>
    <%_ newsData = news(); _%>
  </head>
  <body>
    <%- include(localmeta.path + `components/_googletagmanager`); _%>

    <div class="wrapper">
      <!-- prettier-ignore -->
      <%- include(localmeta.path + `components/_global-navigation`, {meta: localmeta}); _%>

      <main class="main">
        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_header`, {meta: localmeta}); _%>

        <div>
          <!-- prettier-ignore -->
          <%- include(localmeta.path + `components/_hero`, {meta: localmeta}); _%>

          <div class="content">
            <!-- prettier-ignore -->
            <%- include(localmeta.path + `components/news/post/_post`, {meta: localmeta, newsData: newsData}); _%>
          </div>
        </div>

        <!-- prettier-ignore -->
        <%- include(localmeta.path + `components/_toggle`); _%>

        <%- include(localmeta.path + `components/_footer`); _%>
      </main>
    </div>
  </body>
</html>
