<section class="section">
  <div class="section__inner">
    <article class="article">
      <%
      let eps = discographyData.eps,
        reverseEps = eps.reverse();
      %>
      <figure class="article__hero">
        <img class="article__hero-image" src="<%- reverseEps[meta.index].image %>" alt="<%- reverseEps[meta.index].alt %>">
      </figure>
      <div class="article__inner">
        <h3 class="article__title"><%- reverseEps[meta.index].title %></h3>
        <div class="article__body">
          <ul class="article__caption-list">
            <li class="article__caption-item">作品種別 : <%- reverseEps[meta.index].type %></li>
            <li class="article__caption-item">発売日 : <%- reverseEps[meta.index].release %></li>
            <% if (!reverseEps[meta.index].price.trim() === false) { %>
            <li class="article__caption-item">価格 : <%- reverseEps[meta.index].price %></li>
            <% } %>
            <li class="article__caption-item">視聴：ご視聴・ご購入は<a href="<%- reverseEps[meta.index].link %>" target="_blank" rel="noopener noreferrer">こちら</a>から</li>
          </ul>
          <h3 class="article__caption-heading">Song contents</h3>
          <ol class="article__caption-list article__caption-list--song">
            <% reverseEps[meta.index].songs.forEach(function(song) { %>
            <li class="article__caption-item">
              <%- song %>
            </li>
            <% }); %>
          </ol>
          <% if (!reverseEps[meta.index].bonusTracks[0].trim() === false) { %>
          <h3 class="article__caption-heading">Bonus track</h3>
          <ol class="article__caption-list article__caption-list--song">
            <% reverseEps[meta.index].bonusTracks.forEach(function(bonusTrack) { %>
            <li class="article__caption-item">
              <%- bonusTrack %>
            </li>
            <% }); %>
          </ol>
          <% } %>
        </div>
      </div>
    </article>
    <div class="button__wrap">
      <a class="button" href="/discography/">
        <span class="button__text">Back</span>
      </a>
    </div>
  </div>
</section>
