<!DOCTYPE html>
<html lang="ja">
<head>
  <%_
    const localmeta = {
      title: 'SUSHIBOYSの騒音集 VOL.1 | SUSHIBOYS',
      description: 'ここ日本では社会のシステムを妨害する発言などは”騒音”としてカテゴライズされてしまう。己に正直になった結果それが騒音と言われるのなら、騒音として世に出してしまおうじゃないか。聴いてくれ俺らの騒音。',
      url: 'https://sushiboys350.com/news/post008/',
      pageid: 'news',
      index: 7,
      path: '../../'
    };
    const localogp = {
      title: localmeta.title,
      description: localmeta.description,
      url: localmeta.url
    };
    const localfile = {
      css: '/css/news-detail.css',
      js: '/js/newsDetail.js'
    };
  _%>
  <%- include(localmeta.path + '_inc/_head', {meta: localmeta, ogp: localogp, file: localfile}); %>
  <%- include(localmeta.path + '_data/_news'); %>
  <%_ newsData = news(); _%>
</head>
<body>
  <%- include(localmeta.path + '_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include(localmeta.path + '_inc/components/_header', {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + '_inc/components/_heading', {meta: localmeta}); %>
      <%- include(localmeta.path + '_inc/components/news/post/_post', {meta: localmeta, newsData: newsData}); %>
    </main>
    <%- include(localmeta.path + '_inc/components/_footer'); %>
  </div>
</body>
</html>