<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_news'); %>
  <%
  const localpage = {
    id: 'news',
    primary: 'News',
    Secondary: 'お知らせ',
    index: 7,
  };
  const localmeta = {
    title: 'SUSHIBOYSの騒音集 VOL.1 | SUSHIBOYS',
    description: 'ここ日本では社会のシステムを妨害する発言などは”騒音”としてカテゴライズされてしまう。己に正直になった結果それが騒音と言われるのなら、騒音として世に出してしまおうじゃないか。聴いてくれ俺らの騒音。',
    url: 'https://sushiboys350.com/news/post008/',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/news-detail.css',
    js: '/js/newsDetail.js'
  };
  const newsData = news();
  %>
  <%- include('../../_inc/_head', {page: localpage, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {page: localpage}); %>
    <main class="main">
      <%- include('../../_inc/components/_heading', {page: localpage}); %>
      <%- include('../../_inc/components/news/post/_post', {newsData: newsData, page: localpage}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
