<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../_data/_goods'); %>
  <%
  const localpage = {
    id: 'goods',
  };
  const localmeta = {
    title: 'GOODS | SUSHIBOYS',
    description: 'SUSHIBOYSのグッズ一覧。グッズ購入・商品詳細ページへご案内いたします。',
    url: 'https://sushiboys350.com/goods/',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/goods.css',
    js: '/js/goods.js'
  };
  const goodsData = goods();
  %>
  <%- include('../_inc/_head', {page: localpage, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../_inc/components/_header', {page: localpage}); %>
    <main class="main">
      <%- include('../_inc/components/_heading', {page: localpage}); %>
      <%- include('../_inc/components/goods/_goods', {goodsData: goodsData}); %>
    </main>
    <%- include('../_inc/components/_footer'); %>
  </div>
</body>
</html>
