<!doctype html>
<html lang="ja">
  <head>
    <!-- prettier-ignore -->
    <%_
      const localmeta = {
        title: `liQuid SPARK Edition 出演 | SUSHIBOYS`,
        description: `光り輝く個性を繋ぐ | liQuid vol.6が「SPARK」をテーマに開催 今の音楽シーンにおいてジャンルに縛られず自分の「個性」を輝かせているアーティスト/DJが集結。多様な「個性」が混ざり合うフロアはどのような光を放つのか。彼らが放つSPARKを体感してほしい。`,
        url: `https://sushiboys350.com/news/post020/`,
        pageid: `news`,
        index: 19,
        path: `../../`
      };
      const localogp = {
        title: localmeta.title,
        description: localmeta.description,
        url: localmeta.url
      };
      const localfile = {
        css: `/css/news-detail.css`,
        js: `/js/newsDetail.js`
      };
    _%>
    <%- include(localmeta.path + `_inc/_head`, {meta: localmeta, ogp: localogp, file: localfile}); _%>
    <%- include(localmeta.path + `_data/_news`); _%>
    <%_ newsData = news(); _%>
  </head>
  <body>
    <%- include(localmeta.path + `_inc/components/_googletagmanager`); _%>

    <div class="wrapper">
      <!-- prettier-ignore -->
      <%- include(localmeta.path + `_inc/components/_global-navigation`, {meta: localmeta}); _%>

      <main class="main">
        <!-- prettier-ignore -->
        <%- include(localmeta.path + `_inc/components/_header`, {meta: localmeta}); _%>

        <div>
          <!-- prettier-ignore -->
          <%- include(localmeta.path + `_inc/components/_hero`, {meta: localmeta}); _%>

          <div class="content">
            <!-- prettier-ignore -->
            <%- include(localmeta.path + `_inc/components/news/post/_post`, {meta: localmeta, newsData: newsData}); _%>
          </div>
        </div>

        <!-- prettier-ignore -->
        <%- include(localmeta.path + `_inc/components/_toggle`); _%>

        <%- include(localmeta.path + `_inc/components/_footer`); _%>
      </main>
    </div>
  </body>
</html>
