<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../../_data/_news'); %>
  <%
  const pageid = 'news';
  const localmeta = {
    title: 'SUSHIBOYS to Bboy TSUKKI | SUSHIBOYS',
    description: '“ブレイキン”としての「HIP HOP」“ラップ” としての「HIP HOP」同じカルチャーから生まれた2つが交錯するとき、どのようなセッションが生まれるのか。',
    url: 'https://sushiboys350.com/news/post009',
  };
  const localogp = {
    title: localmeta.title,
    description: localmeta.description,
    url: localmeta.url,
  };
  const localfile = {
    css: '/css/news-detail.css',
    js: '/js/newsDetail.js'
  };
  const newsData = news();
  %>
  <%- include('../../_inc/_head', {pageid: pageid, meta: localmeta, ogp: localogp, file: localfile}); %>
</head>
<body>
  <%- include('../../_inc/components/_googletagmanager'); %>
  <div class="wrapper">
    <%- include('../../_inc/components/_header', {current: 'news'}); %>
    <main class="main">
      <%- include('../../_inc/components/news/post/_post', {newsData: newsData, index: 8}); %>
    </main>
    <%- include('../../_inc/components/_footer'); %>
  </div>
</body>
</html>
