<section class="section">
  <div class="section__inner">
    <ul
      class="card-list"
      data-news
    >
      <%_ const posts = newsData?.posts; _%>
      <!-- prettier-ignore -->
      <%_ posts.forEach(post => { _%>
      <li class="card-list__item">
        <a
          class="card"
          href="<%- post?.url || '#' %>"
        >
          <figure class="card__image-area">
            <img
              class="card__thumbnail<%= post?.hero?.image ? '' : ' card__thumbnail--no-image' %>"
              src="<%- post?.hero?.image || '/img/no-image.png' %>"
              alt="<%- post?.hero?.alt || 'No image' %>"
            />
          </figure>
          <div class="card__body">
            <h3 class="card__title">
              <%- post?.title || 'タイトルがありません' %>
            </h3>
          </div>
        </a>
      </li>
      <%_ }); _%>
    </ul>
  </div>
</section>
