<!DOCTYPE html>
<html lang="ja">
<head>
  <%_
    const localmeta = {
      title: 'ðŸº2024.1.27 (åœŸ) SHAKE at å¤§é˜ªãƒ»ãƒ¦ãƒ‹ãƒãƒ¼ã‚¹å‡ºæ¼”æ±ºå®šðŸ£ | SUSHIBOYS',
      description: '2024.1.27 (åœŸ) SHAKE at å¤§é˜ªãƒ»ãƒ¦ãƒ‹ãƒãƒ¼ã‚¹å‡ºæ¼”ã„ãŸã—ã‚„ã™ðŸ£ðŸº',
      url: 'https://sushiboys350.com/news/post047/',
      pageid: 'news',
      index: 47 - 1,
      path: '../../'
    };
    const localogp = {
      title: localmeta.title,
      description: localmeta.description,
      url: localmeta.url
    };
    const localfile = {
      css: '/css/news-detail.css',
      js: '/js/newsDetail.js'
    };
  _%>
  <%- include(localmeta.path + `_inc/_head`, {meta: localmeta, ogp: localogp, file: localfile}); %>
  <%- include(localmeta.path + `_data/_news`); %>
  <%_ newsData = news(); _%>
</head>
<body>
  <%- include(localmeta.path + `_inc/components/_googletagmanager`); %>
  <div
    id="wrapper"
    class="wrapper"
  >
    <%- include(localmeta.path + `_inc/components/_header`, {meta: localmeta}); %>
    <main class="main">
      <%- include(localmeta.path + `_inc/components/_heading`, {meta: localmeta}); %>
      <%- include(localmeta.path + `_inc/components/news/post/_post`, {meta: localmeta, newsData: newsData}); %>
    </main>
    <%- include(localmeta.path + '_inc/components/_toggle'); %>
    <%- include(localmeta.path + `_inc/components/_footer`); %>
  </div>
</body>
</html>
