<section class="section">
  <h2 class="heading" data-heading="Discography">
    楽曲
  </h2>
  <article class="article article--row">
    <% let singles = discographyData.farmhouseSingles; %>
    <figure class="article__hero article__hero--row">
      <img class="article__hero-image" src="<%- singles[0].image %>" alt="<%- singles[0].alt %>">
    </figure>
    <div class="article__inner article__inner--row">
      <h3 class="article__title article__title--row"><%- singles[0].title %></h3>
      <div class="article__caption">
        <ul class="article__caption-list">
          <li class="article__caption-item">作品種別 : <%- singles[0].type %></li>
          <li class="article__caption-item">発売日 : <%- singles[0].release %></li>
          <% if (!singles[0].price.trim() === false) { %>
          <li class="article__caption-item">価格 : <%- singles[0].price %></li>
          <% } %>
          <li class="article__caption-item">視聴：ご視聴は<a href="<%- singles[0].link %>" target="_blank" rel="noopener noreferrer">こちら</a>から</li>
        </ul>
        <h3 class="article__caption-heading">Song contents</h3>
        <ol class="article__caption-list article__caption-list--song">
          <% singles[0].songs.forEach(function(song) { %>
          <li class="article__caption-item">
            <%- song %>
          </li>
          <% }); %>
        </ol>
        <% if (!singles[0].bonusTracks[0].trim() === false) { %>
        <h3 class="article__caption-heading">Bonus track</h3>
        <ol class="article__caption-list article__caption-list--song">
          <% singles[0].bonusTracks.forEach(function(bonusTrack) { %>
          <li class="article__caption-item">
            <%- bonusTrack %>
          </li>
          <% }); %>
        </ol>
        <% } %>
      </div>
    </div>
  </article>
  <div class="button__wrap">
    <a class="button" href="/discography/">
      <span class="button__text">Back</span>
    </a>
  </div>
</section>
