<!doctype html>
<html lang="ja">
  <head>
    <!-- prettier-ignore -->
    <%_
      const localmeta = {
        title: 'éŸ³ã®æ¥½åœ’ / OTO NO RAKUEN  2Year Anniversary å‡ºæ¼”æ±ºå®šðŸ£ | SUSHIBOYS',
        description: 'éŸ³ã®æ¥½åœ’ / OTO NO RAKUEN  2Year Anniversary å‡ºæ¼”æ±ºå®šðŸ£',
        url: 'https://sushiboys350.com/news/post050/',
        pageid: 'news',
        index: 50 - 1,
        path: '../../'
      };
      const localogp = {
        title: localmeta.title,
        description: localmeta.description,
        url: localmeta.url
      };
      const localfile = {
        css: `/css/news-detail.css`,
        js: `/js/newsDetail.js`
      };
    _%>
    <%- include(localmeta.path + `_inc/_head`, {meta: localmeta, ogp: localogp, file: localfile}); _%>
    <%- include(localmeta.path + `_data/_news`); _%>
    <%_ newsData = news(); _%>
  </head>
  <body>
    <%- include(localmeta.path + `_inc/components/_googletagmanager`); _%>

    <div class="wrapper">
      <!-- prettier-ignore -->
      <%- include(localmeta.path + `_inc/components/_global-navigation`, {meta: localmeta}); _%>

      <main class="main">
        <!-- prettier-ignore -->
        <%- include(localmeta.path + `_inc/components/_header`, {meta: localmeta}); _%>

        <div>
          <!-- prettier-ignore -->
          <%- include(localmeta.path + `_inc/components/_hero`, {meta: localmeta}); _%>

          <div class="content">
            <!-- prettier-ignore -->
            <%- include(localmeta.path + `_inc/components/news/post/_post`, {meta: localmeta, newsData: newsData}); _%>
          </div>
        </div>

        <!-- prettier-ignore -->
        <%- include(localmeta.path + `_inc/components/_toggle`); _%>

        <%- include(localmeta.path + `_inc/components/_footer`); _%>
      </main>
    </div>
  </body>
</html>
